$media: screen;
$feature_min: min-width;
$feature_max: max-width;
$value_one: 576px;
$value_two: 767px;
$value_three: 768px;
$value_four: 991px;
$value_five: 992px;
$value_six: 1199px;
$value_seven: 1200px;
$value_eight: 1355px;
$value_nine: 1550px;

/* Max width 767px */
@media only #{$media} and ($feature_max : $value_two) {

    body {
        font-size: 14px;
    }
    .container {
        max-width: 100%;
    }
    .default-btn {
        padding: 10px 25px 10px 50px;
        font-size: 14px;

        i {
            left: 25px;
            font-size: 18px;
        }
    }
    .ptb-100 {
        padding: {
            top: 60px;
            bottom: 60px;
        };
    }
    .pt-100 {
        padding-top: 60px;
    }
    .pb-100 {
        padding-bottom: 60px;
    }
    .ptb-70 {
        padding: {
            top: 30px;
            bottom: 30px;
        };
    }
    .pt-70 {
        padding-top: 30px;
    }
    .pb-70 {
        padding-bottom: 30px;
    }
    .section-title {
        max-width: 100%;
        margin-bottom: 40px;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 24px;
        }
    }
    .form-control {
        font-size: 14px;
    }

    .top-header-area {
        text-align: center;

        .container-fluid {
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }
    .top-header-contact-info {
        margin-bottom: -8px;

        li {
            margin: {
                left: 5px;
                right: 5px;
                bottom: 8px;
            };
            &:firat-child {
                margin-left: 0;
            }
        }
    }
    .top-header-right {
        text-align: center;
        margin-top: 10px;

        .justify-content-end {
            justify-content: unset !important;
            display: block !important;
        }
        ul {
            li {
                display: inline-block;
                margin: {
                    left: 5px;
                    right: 5px;
                    bottom: 8px;
                };
                &:firat-child {
                    margin-left: 0;
                }
            }
        }
    }

    .search-overlay {
        .search-overlay-form {
            max-width: 290px;
            width: 290px;
        }
    }

    .main-banner-area {
        padding: {
            top: 60px;
            bottom: 125px;
        };
        .container-fluid {
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }
    .main-banner-content {
        max-width: 100%;
        padding: 25px 15px;
        border-left-width: 2px;
        text-align: center;

        .sub-title {
            font-size: 13px;
            margin-bottom: 10px;
        }
        h1 {
            font-size: 30px;
            margin-bottom: 12px;
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 5px;
        }
    }
    .home-slides {
        &.owl-theme {
            .owl-nav {
                opacity: 1;
                visibility: visible;
                top: auto;
                bottom: 60px;
                transform: unset;
                right: 0;
                left: 0;

                [class*=owl-] {
                    width: 35px;
                    height: 35px;
                    margin: 0 5px;
                    font-size: 20px;
                    display: inline-block;

                    i {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .single-categories-box {
        .content {
            top: auto;
            left: 15px;
            transform: unset;
            bottom: 15px;

            h3 {
                font-size: 17px;
            }
            span {
                font-size: 14px;
            }
            .default-btn {
                margin-top: 15px;
            }
        }
    }
    .single-categories-item {
        .content {
            left: 15px;

            h3 {
                font-size: 17px;
                margin-bottom: 15px;
            }
        }
    }

    .single-products-box {
        .image {
            .products-button {
                li {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);
                }
            }
            .add-to-cart-btn {
                bottom: 0;
                opacity: 1;
                font-size: 14px;
                visibility: visible;
                padding: 8px 10px 9px;

                i {
                    font-size: 18px;
                    top: 2.5px;
                }
            }
        }
        .content {
            text-align: center;

            h3 {
                font-size: 17px;
            }
            .price {
                span {
                    font-size: 14px;
                }
            }
        }
    }
    .products-slides {
        &.owl-theme {
            .owl-nav.disabled + .owl-dots {
                margin-top: 0;
            }
        }
    }

    .single-products-item {
        .content {
            left: 15px;
            bottom: 15px;

            h3 {
                font-size: 17px;
            }
            span {
                font-size: 14px;
            }
            .default-btn {
                margin-top: 15px;
            }
        }
    }

    .about-image {
        padding-left: 0;
        margin-left: 0;
        padding-bottom: 0;

        img {
            &:nth-child(2) {
                width: auto;
                border-radius: 5px;
                position: relative;
                margin-top: 30px;
            }
        }
    }
    .about-content {
        padding-right: 0;
        text-align: center;
        margin-bottom: 30px;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 17px;
        }
    }

    .why-choose-content {
        padding-right: 0;
        text-align: center;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 17px;
            padding-left: 0;

            &::before {
                display: none;
            }
        }
    }
    .why-choose-image {
        padding-left: 0;
        margin-top: 30px;
    }

    .testimonials-area {
        &::before {
            top: 50%;
            transform: translateY(-50%);
            font-size: 280px;
        }
    }
    .single-testimonials-item {
        p {
            font-size: 15px;
        }
        .clients-info {
            margin-top: 20px;

            .info {
                h3 {
                    font-size: 17px;
                }
                span {
                    font-size: 13px;
                }
            }
        }
    }
    .testimonials-slides {
        .single-testimonials-item {
            max-width: 100%;
        }
        &.owl-theme {
            .owl-nav {
                [class*=owl-] {
                    top: auto;
                    bottom: 8px;
                    transform: unset;
                    width: 35px;
                    height: 35px;
                    font-size: 20px;
                }
            }
        }
    }

    .video-area {
        padding: {
            top: 60px;
            bottom: 60px;
        };
    }
    .video-content {
        h2 {
            font-size: 24px;
        }
        p {
            max-width: 100%;
        }
        .video-btn {
            width: 60px;
            height: 60px;
            font-size: 50px;

            i {
                margin-top: 0;
            }
        }
    }

    .promotions-content {
        text-align: center;
        margin-bottom: 30px;

        h2 {
            margin-bottom: 15px;
            font-size: 24px;
        }
        span {
            font-size: 16px;
        }
        .default-btn {
            margin-top: 20px;
        }
    }

    .single-blog-post {
        .content {
            .meta {
                li {
                    i {
                        top: 3px;
                        font-size: 15px;
                    }
                }
            }
            h3 {
                font-size: 17px;
            }
        }
    }

    .blog-details-desc {
        .article-content {
            .entry-meta {
                margin-bottom: 10px;

                ul {
                    li {
                        font-size: 14px;
                        margin: {
                            right: 15px;
                            bottom: 5px;
                        };
                        &::before {
                            right: -10px;
                            top: 4px;
                        }
                    }
                }
            }
            h3 {
                font-size: 17px;
                margin-bottom: 15px;
            }
            .features-list {
                margin-top: 20px;

                li {
                    font-size: 14px;
                }
            }
        }
        .article-footer {
            text-align: center;
            padding-top: 25px;
            margin-top: 25px;

            .article-tags {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .article-share {
                flex: 0 0 100%;
                max-width: 100%;
                margin-top: 15px;

                .social {
                    text-align: center;
                }
            }
        }
        .article-author {
            .author-profile {
                padding: 0 15px 15px;

                .author-profile-title {
                    h4 {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .prev-link-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;

        .prev-title {
            font-size: 14px;
        }
    }
    .next-link-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        margin-top: 20px;

        .next-title {
            font-size: 14px;
        }
    }
    blockquote, .blockquote {
        padding: 20px !important;

        p {
            font-size: 15px !important;
        }
        &::before {
            left: 25px;
            top: -10px;
            font-size: 60px;
        }
    }
    .comments-area {
        .comments-title {
            font-size: 18px;
            margin-bottom: 20px;
        }
        .comment-body {
            padding-left: 0;
        }
        .comment-author {
            font-size: 15px;

            .avatar {
                height: 50px;
                left: 0;
                position: relative;
                width: 50px;
                display: block;
                margin-bottom: 12px;
            }
        }
        .comment-respond {
            .comment-reply-title {
                font-size: 18px;
            }
            .comment-form-author {
                width: 100%;
                padding-right: 0;
            }
            .comment-form-email {
                width: 100%;
                padding-left: 0;
            }
            .form-submit {
                input {
                    padding: 10px 25px;
                    font-size: 14px;
                }
            }
        }
    }
    .comments-area .comment-respond input[type="date"], .comments-area .comment-respond input[type="time"], .comments-area .comment-respond input[type="datetime-local"], .comments-area .comment-respond input[type="week"], .comments-area .comment-respond input[type="month"], .comments-area .comment-respond input[type="text"], .comments-area .comment-respond input[type="email"], .comments-area .comment-respond input[type="url"], .comments-area .comment-respond input[type="password"], .comments-area .comment-respond input[type="search"], .comments-area .comment-respond input[type="tel"], .comments-area .comment-respond input[type="number"], .comments-area .comment-respond textarea {
        font-size: 14px;
    }

    .contact-inner-area {
        padding: 30px 15px;
        margin-top: -100px;
    }
    .contact-form {
        margin: {
            left: 0;
            top: 30px;
        };
    }
    .contact-info-box {
        padding-left: 90px;

        .icon {
            width: 70px;
            height: 75px;
        }
        h3 {
            margin-bottom: 8px;
            font-size: 17px;
        }
    }

    .subscribe-area {
        form {
            max-width: 100%;
            padding-right: 0;
            margin-top: 25px;

            .default-btn {
                position: relative;
                top: 0;
                height: auto;
                margin-top: 15px;
            }
            .input-newsletter {
                padding: {
                    left: 50px;
                    top: 1px;
                };
            }
            #validator-newsletter {
                bottom: -25px;
            }
        }
    }

    .page-title-area {
        padding: {
            top: 70px;
            bottom: 65px;
        };
    }
    .page-title-content {
        max-width: 100%;
        text-align: center;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 26px;

            &::before {
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
    }

    .pagination-area {
        margin-top: 15px;

        .page-numbers {
            width: 35px;
            height: 35px;
            line-height: 37px;
            font-size: 16px;
            margin: {
                left: 3px;
                right: 3px;
            };
        }
    }

    .guto-grid-sorting {
        margin-bottom: 30px;
        text-align: center;

        .ordering {
            text-align: center;
            margin-top: 15px;
        }
    }
    .products-area {
        .pagination-area {
            margin-top: 15px;
        }
    }

    .cart-table {
        table {
            thead {
                tr {
                    th {
                        font-size: 14px;
                        padding: {
                            left: 15px;
                            right: 15px;
                        };
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            padding-right: 60px;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-size: 14px;
                        padding: {
                            left: 15px;
                            right: 15px;
                        };
                        &:first-child {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
    .cart-buttons {
        .shopping-coupon-code {
            text-align: center;

            button {
                position: relative;
                right: 0;
                top: 0;
                height: auto;
                padding: 14px 25px 15px;
                line-height: initial;
                font-size: 14px;
                margin-top: 15px;
            }
        }
        .text-right {
            text-align: center !important;
            margin-top: 20px;
        }
    }
    .cart-totals {
        padding: 25px 20px;
        max-width: 100%;
        margin: {
            top: 40px;
        };
        ul {
            margin-bottom: 20px;

            li {
                font-size: 14px;

                &:last-child {
                    font-size: 17px;
                }
            }
        }
    }

    .user-actions {
        padding: 10px;

        span {
            font-size: 13px;
        }
    }
    .billing-details {
        .title {
            font-size: 17px;
        }
        .form-group {
            .nice-select {
                font-size: 14px;
            }
            label {
                font-size: 14px;
            }
        }
        .form-check {
            label {
                left: -2px;
            }
        }
    }
    .order-details {
        margin-top: 40px;

        .title {
            font-size: 17px;
        }
        .order-table {
            table {
                thead {
                    tr {
                        th {
                            font-size: 14px;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .payment-box {
            padding: 20px;
        }
    }
    .order-details .payment-box .payment-method p [type="radio"]:checked + label::before, .order-details .payment-box .payment-method p [type="radio"]:not(:checked) + label::before {
        top: 3px;
    }
    .order-details .payment-box .payment-method p [type="radio"]:checked + label::after {
        top: 6px;
    }

    .products-details-desc {
        padding-left: 0;
        margin-top: 35px;

        h3 {
            font-size: 17px;
        }
        .products-review {
            .rating {
                font-size: 15px;

                .rating-count {
                    top: -2px;
                }
            }
        }
        .products-meta {
            span {
                font-size: 14px;
            }
        }
        .products-add-to-cart {
            .input-counter {
                max-width: 110px;
                min-width: 110px;

                input {
                    height: 45px;
                    font-size: 15px;
                }
                span {
                    width: 40px;
                    line-height: 51px;
                    font-size: 20px;
                }
            }
            .default-btn {
                top: -1px;
                padding: {
                    top: 12px;
                    bottom: 12px;
                };
            }
        }
    }
    .products-details-tabs {
        .nav {
            margin-bottom: 30px;

            .nav-item {
                margin: {
                    left: 10px;
                    right: 10px;
                };
                .nav-link {
                    font-size: 15px;
                }
            }
        }
        .tab-content {
            .tab-pane {
                max-width: 100%;

                ul {
                    li {
                        font-size: 14px;
                    }
                }
                .products-reviews {
                    h3 {
                        font-size: 17px;
                    }
                    .rating {
                        top: 2px;
        
                        span {
                            font-size: 15px;
                        }
                    }
                    .side {
                        width: 20%;
        
                        div {
                            font-size: 14px;
                        }
                    }
                    .middle {
                        width: 60%;
                    }
                }
                .products-review-comments {
                    h3 {
                        padding-bottom: 10px;
                        font-size: 17px;
                    }
                    .user-review {
                        padding-left: 0;
        
                        img {
                            position: relative;
                            left: 0;
                            top: 0;
                            margin-bottom: 15px;
                        }
                        .review-rating {
                            span {
                                display: block !important;
                                top: 0;
                                font-size: 15px;
                                margin: {
                                    left: 0;
                                    top: 5px;
                                };
                            }
                        }
                    }
                }
                .review-form-wrapper {
                    h3 {
                        font-size: 17px;
                    }
                    form {
                        button {
                            margin-top: 20px;
                            padding: 11px 30px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .faq-accordion {
        .card {
            .card-header {
                button {
                    font-size: 15px;
                    padding: {
                        top: 15px;
                        bottom: 15px;
                        left: 15px;
                        right: 15px;
                    };
                    &::before {
                        right: 10px;
                    }
                }
            }
        }
    }

    .error-content {
        h3 {
            font-size: 25px;
            margin: {
                bottom: 15px;
                top: 30px;
            };
        }
        .default-btn {
            margin-top: 15px;
        }
    }

    .login-form {
        padding: 30px 20px;
        margin-right: 0;

        h2 {
            margin-bottom: 20px;
            text-align: center;
            font-size: 25px;
        }
        form {
            .lost-your-password-wrap {
                text-align: left;
                margin-top: 15px;
            }
            button {
                padding: 13px 30px;
                font-size: 15px;
            }
        }
    }
    .register-form {
        margin-top: 40px;
        border-top: 1px solid #eeeeee;
        padding: {
            left: 0;
            top: 30px;
        };
        h2 {
            margin-bottom: 20px;
            text-align: center;
            font-size: 25px;
        }
        form {
            .lost-your-password-wrap {
                text-align: left;
                margin-top: 15px;
            }
            button {
                padding: 13px 30px;
                font-size: 15px;
            }
        }
    }

    .coming-soon-area {
        height: 100%;
        padding: {
            top: 100px;
            bottom: 100px;
            left: 15px;
            right: 15px;
        };
    }
    .coming-soon-content {
        padding: 30px 20px;
        text-align: center;
        max-width: 100%;

        h2 {
            margin-top: 25px;
            font-size: 25px;
        }
        #timer {
            margin-top: 10px;

            div {
                width: 95px;
                height: 100px;
                font-size: 32px;
                margin-top: 20px;

                span {
                    font-size: 14px;
                }
            }
        }
        form {
            max-width: 100%;
            margin-top: 40px;

            .form-group {
                margin-bottom: 20px;

                .input-newsletter {
                    font-size: 14px;
                }
                .label-title {
                    i {
                        top: 12px;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .widget-area {
        padding-left: 0;
        margin-top: 40px;

        .widget {
            margin-bottom: 30px;

            .widget-title {
                font-size: 18px;
                margin-bottom: 25px;
            }
        }
        .widget_guto_posts_thumb {
            .item {
                .info {
                    .title {
                        font-size: 15px;
                    }
                    .meta {
                        li {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .widget_socials_link {
            ul {
                li {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
        .widget_buy_now {
            .content {
                padding: 15px;
                max-width: 225px;

                &::before {
                    margin: -10px;
                }
            }
        }
        .tagcloud {
            a {
                font-size: 13px !important;
            }
        }
        &.secondary {
            padding-right: 0;
            margin: {
                top: 0;
                bottom: 40px;
            };
        }
        .widget_top_rated_products {
            .item {
                .info {
                    .title {
                        font-size: 14.5px;
                    }
                }
            }
        }
    }

    .customer-service-content {
        h3 {
            font-size: 17px;
        }
    }

    .rooms-content {
        padding: 25px 15px;
        max-width: 100%;
        border-left-width: 2px;

        h1 {
            font-size: 20px;
            margin-bottom: 12px;
        }
        .default-btn {
            margin-top: 20px;
        }
    }

    .single-facility-box {
        .icon {
            width: 100px;
            height: 100px;
            font-size: 50px;

            i {
                top: 40%;
                transform: translateY(-40%);
            }
        }
        h3 {
            font-size: 17px;
            padding-top: 20px;
            margin-top: -20px;
        }
    }

    .footer-area {
        padding-top: 60px;
    }
    .single-footer-widget {
        .social-links {
            li {
                a {
                    font-size: 17px;
                }
            }
        }
        h3 {
            font-size: 17px;
            padding-bottom: 7px;

            &::before {
                height: 1px;
            }
        }
        &.pl-5, &.px-5 {
            padding-left: 0!important;
        }
    }
    .footer-bottom-area {
        margin-top: 30px;
        text-align: center;
        padding: {
            top: 25px;
            bottom: 25px;
        };
        ul {
            text-align: center;
            margin-top: 10px;
        }
    }
    .circle-map {
        right: 0;
        left: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }

    .go-top {
        right: 15px;
        width: 37px;
        height: 40px;
        font-size: 25px;

        &.active {
            bottom: 15px;
        }
    }

    .productsQuickView {
        .modal-dialog {
            max-width: 100%;
            margin: 0 auto;
        }
        .modal-content {
            padding: 15px;

            .products-content {
                margin-top: 25px;

                h3 {
                    font-size: 17px;
                }
                .price {
                    font-size: 14px;
                }
                .products-info {
                    li {
                        font-size: 14px;
                    }
                }
                .products-color-switch {
                    h4 {
                        font-size: 14px;
                    }
                }
                .products-size-wrapper {
                    h4 {
                        font-size: 14px;
                    }
                }
                .products-add-to-cart {
                    .input-counter {
                        input {
                            height: 43px;
                            font-size: 16px;
                        }
                        span {
                            line-height: 49px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only #{$media} and ($feature_min : $value_one) and ($feature_max : $value_two) {

    .container {
        max-width: 540px;
    }

    .top-header-area {
        .container-fluid {
            max-width: 540px;
        }
    }

    .main-banner-area {
        .container-fluid {
            max-width: 540px;
        }
    }

    .blog-details-desc {
        .article-footer {
            text-align: left;

            .article-tags {
                flex: 0 0 50%;
                max-width: 50%;
            }
            .article-share {
                flex: 0 0 50%;
                max-width: 50%;
                margin-top: 0;

                .social {
                    text-align: right;
                }
            }
        }
    }
    .comments-area {
        .comment-body {
            padding-left: 70px;
        }
        .comment-author {
            .avatar {
                left: -70px;
                width: 50px;
                height: 50px;
                margin-bottom: 0;
                position: absolute;
            }
        }
    }

    .footer-bottom-area {
        text-align: left;

        ul {
            margin-top: 0;
            text-align: right;
        }
    }

    .productsQuickView {
        .modal-dialog {
            max-width: 500px;
        }
        .modal-content {
            padding: 30px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only #{$media} and ($feature_min : $value_three) and ($feature_max : $value_four) {

    .container {
        max-width: 720px;
    }
    .ptb-100 {
        padding: {
            top: 80px;
            bottom: 80px;
        };
    }
    .pt-100 {
        padding-top: 80px;
    }
    .pb-100 {
        padding-bottom: 80px;
    }
    .ptb-70 {
        padding: {
            top: 50px;
            bottom: 50px;
        };
    }
    .pt-70 {
        padding-top: 50px;
    }
    .pb-70 {
        padding-bottom: 50px;
    }
    .default-btn {
        padding: 10px 30px 10px 55px;
        font-size: 14px;

        i {
            font-size: 18px;
        }
    }
    .section-title {
        margin-bottom: 45px;
        max-width: 615px;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 30px;
        }
    }

    .top-header-area {
        .container-fluid {
            max-width: 720px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }

    .main-banner-area {
        padding: {
            top: 100px;
            bottom: 180px;
        };
        .container-fluid {
            max-width: 720px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }
    .main-banner-content {
        max-width: 720px;
        padding: 50px;
        border-left-width: 5px;

        .sub-title {
            font-size: 13px;
        }
        h1 {
            font-size: 42px;
            margin-bottom: 15px;
        }
        .default-btn {
            margin-top: 5px;
        }
    }
    .home-slides {
        &.owl-theme {
            .owl-nav {
                opacity: 1;
                visibility: visible;
                top: auto;
                bottom: 100px;
                transform: unset;
                right: 0;
                left: 0;

                [class*=owl-] {
                    width: 35px;
                    height: 35px;
                    margin: 0 5px;
                    font-size: 20px;
                    display: inline-block;

                    i {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .single-categories-box {
        .content {
            left: 20px;

            h3 {
                font-size: 22px;
            }
            span {
                font-size: 15px;
            }
            .default-btn {
                margin-top: 15px;
            }
        }
    }

    .single-products-item {
        .content {
            left: 40px;
            bottom: 40px;

            h3 {
                font-size: 22px;
            }
            span {
                font-size: 15px;
            }
            .default-btn {
                margin-top: 15px;
            }
        }
    }
    .single-products-box {
        .content {
            h3 {
                margin-bottom: 12px;
            }
        }
    }
    .products-slides {
        &.owl-theme {
            .owl-nav {
                &.disabled + .owl-dots {
                    margin-top: 0;
                }
            }
        }
    }

    .promotions-content {
        text-align: center;
        margin-bottom: 30px;

        h2 {
            font-size: 40px;
        }
        span {
            font-size: 20px;
        }
    }

    .productsQuickView {
        .modal-content {
            .products-content {
                h3 {
                    font-size: 20px;
                }
            }
        }
    }

    .single-categories-item {
        .content {
            left: 20px;

            h3 {
                font-size: 20px;
            }
        }
    }

    .about-image {
        margin-left: 0;

        img {
            &:nth-child(2) {
                width: 350px;
            }
        }
    }
    .about-content {
        padding-right: 0;
        text-align: center;
        margin-bottom: 30px;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 20px;
        }
    }

    .rooms-content {
        h1 {
            font-size: 28px;
        }
    }

    .why-choose-content {
        padding-right: 0;
        text-align: center;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 20px;
            padding-left: 0;

            &::before {
                display: none;
            }
        }
    }
    .why-choose-image {
        padding-left: 0;
        margin-top: 30px;
    }

    .single-testimonials-item {
        .clients-info {
            margin-top: 25px;
        }
    }
    .testimonials-slides {
        .single-testimonials-item {
            max-width: 100%;
        }
        &.owl-theme {
            .owl-nav {
                [class*=owl-] {
                    top: auto;
                    bottom: 9px;
                    transform: unset;
                }
            }
        }
    }

    .video-area {
        padding: {
            top: 120px;
            bottom: 120px;
        };
    }
    .video-content {
        h2 {
            font-size: 30px;
        }
        .video-btn {
            width: 70px;
            height: 70px;
            font-size: 55px;
        }
    }

    .single-blog-post {
        .content {
            h3 {
                font-size: 20px;
            }
        }
    }

    .subscribe-area {
        form {
            max-width: 100%;
            padding-right: 200px;
        }
    }

    .page-title-content {
        text-align: center;
        margin: {
            left: auto;
            right: auto;
        };
        h2 {
            font-size: 35px;

            &::before {
                right: 0;
                margin: 0 auto;
            }
        }
    }

    .products-area {
        .pagination-area {
            margin-top: 15px;
        }
    }
    .single-products-box {
        .products-image {
            .default-btn {
                left: 15px;
                top: auto;
                transform: unset;
                opacity: 1;
                visibility: visible;
                margin-top: 0;
                bottom: 15px;
            }
        }
        .products-content {
            h3 {
                font-size: 20px;
            }
        }
    }

    .billing-details {
        .title {
            font-size: 20px;
        }
    }
    .order-details {
        margin-top: 35px;
    }

    .products-details-desc {
        padding-left: 0;
        margin-top: 30px;

        h3 {
            font-size: 20px;
        }
    }
    .products-details-tabs {
        .tab-content {
            .tab-pane {
                .products-reviews {
                    h3 {
                        font-size: 20px;
                    }
                }
                .products-review-comments {
                    h3 {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .login-form {
        margin-right: 0;

        h2 {
            font-size: 25px;
        }
    }
    .register-form {
        margin-top: 40px;
        border-top: 1px solid #eeeeee;
        padding: {
            left: 0;
            top: 30px;
        };
        h2 {
            font-size: 25px;
        }
    }

    .widget-area {
        padding-left: 0;
        margin-top: 40px;

        .widget {
            margin-bottom: 30px;

            .widget-title {
                font-size: 20px;
                margin-bottom: 25px;
            }
        }
        &.secondary {
            padding-right: 0;
            margin: {
                top: 0;
                bottom: 40px;
            };
        }
    }

    .customer-service-content {
        h3 {
            font-size: 20px;
        }
    }

    .single-facility-box {
        h3 {
            font-size: 20px;
        }
    }

    .blog-details-desc {
        .article-content {
            h3 {
                font-size: 20px;
            }
        }
        .article-author {
            .author-profile {
                .author-profile-title {
                    h4 {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .prev-link-wrapper {
        .prev-title {
            font-size: 16px;
        }
    }
    .next-link-wrapper {
        .next-title {
            font-size: 16px;
        }
    }
    .comments-area {
        .comments-title {
            font-size: 20px;
        }
        .comment-respond {
            .comment-reply-title {
                font-size: 20px;
            }
        }
    }

    .contact-form {
        margin: {
            left: 0;
            top: 55px;
        };
    }

    .footer-area {
        padding-top: 80px;
    }
    .single-footer-widget {
        h3 {
            font-size: 20px;
        }
    }
    .footer-bottom-area {
        margin-top: 50px;
    }

    .productsQuickView {
        .modal-dialog {
            max-width: 720px;
        }
        .modal-content {
            padding: 30px 20px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only #{$media} and ($feature_min : $value_five) and ($feature_max : $value_six) {

    .container {
        max-width: 960px;
    }
    .section-title {
        h2 {
            font-size: 35px;
        }
    }

    .top-header-area {
        .container-fluid {
            max-width: 960px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }

    .navbar-area {
        padding: {
            top: 20px;
            bottom: 20px;
        };
    }
    .guto-responsive-nav {
        .others-option {
            display: flex !important;
            position: absolute;
            right: 60px;
            top: -2px;
        }
    }
    .others-option-for-responsive {
        display: none;
    }

    .main-banner-area {
        padding: {
            top: 130px;
            bottom: 130px;
        };
        .container-fluid {
            max-width: 960px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }
    .main-banner-content {
        max-width: 700px;
        padding: {
            top: 55px;
            bottom: 55px;
            left: 75px;
            right: 75px;
        };
        h1 {
            font-size: 45px;
        }
        p {
            max-width: 100%;
        }
    }

    .single-categories-box {
        .content {
            left: 30px;

            h3 {
                font-size: 25px;
            }
        }
    }

    .single-products-box {
        .content {
            .price {
                span {
                    font-size: 15px;
                }
            }
        }
    }
    .products-slides {
        &.owl-theme {
            .owl-nav.disabled + .owl-dots {
                margin-top: 0;
            }
        }
    }

    .products-details-desc {
        padding-left: 0;
    }

    .widget-area {
        padding-left: 0;

        .widget_buy_now {
            .content {
                max-width: 220px;
            }
        }
    }

    .contact-form {
        padding: 30px;
        margin-left: 10px;
    }

    .single-categories-item {
        .content {
            left: 20px;
        }
    }

    .why-choose-content {
        padding-right: 0;
    }
    .why-choose-image {
        padding-left: 0;
    }

    .about-image {
        margin-left: 0;
    }
    .about-content {
        padding-right: 0;

        h2 {
            font-size: 35px;
        }
    }

    .promotions-content {
        h2 {
            font-size: 45px;
        }
    }

}

/* Min width 1200px to Max width 1355px */
@media only #{$media} and ($feature_min : $value_seven) and ($feature_max : $value_eight) {

    .container {
        max-width: 1140px;
    }

    .top-header-area {
        .container-fluid {
            max-width: 1140px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }

    .guto-nav {
        .container-fluid {
            max-width: 1140px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }

    .main-banner-area {
        .container-fluid {
            max-width: 1140px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }

    .why-choose-content {
        padding-right: 0;
    }
    .why-choose-image {
        padding-left: 0;
    }

    .about-image {
        margin-left: 0;
    }
    .about-content {
        padding-right: 0;
    }

    .rooms-content {
        h1 {
            font-size: 30px;
        }
    }

}

/* Min width 1550px */
@media only #{$media} and ($feature_min : $value_nine) {

    .top-header-area {
        .container-fluid {
            padding: {
                left: 100px;
                right: 100px;
            };
        }
    }

    .guto-nav {
        .container-fluid {
            padding: {
                left: 100px;
                right: 100px;
            };
        }
    }

    .main-banner-area {
        .container-fluid {
            padding: {
                left: 100px;
                right: 100px;
            };
        }
    }

    .home-slides {
        &.owl-theme {
            .owl-nav {
                right: 100px;
    
            }
        }
    }

}