/* Max width 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .container {
    max-width: 100%;
  }
  .default-btn {
    padding: 10px 25px 10px 50px;
    font-size: 14px;
  }
  .default-btn i {
    left: 25px;
    font-size: 18px;
  }
  .ptb-100 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .pt-100 {
    padding-top: 60px;
  }
  .pb-100 {
    padding-bottom: 60px;
  }
  .ptb-70 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pt-70 {
    padding-top: 30px;
  }
  .pb-70 {
    padding-bottom: 30px;
  }
  .section-title {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .section-title .sub-title {
    font-size: 13px;
  }
  .section-title h2 {
    font-size: 24px;
  }
  .form-control {
    font-size: 14px;
  }
  .top-header-area {
    text-align: center;
  }
  .top-header-area .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .top-header-contact-info {
    margin-bottom: -8px;
  }
  .top-header-contact-info li {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
  }
  .top-header-contact-info li:firat-child {
    margin-left: 0;
  }
  .top-header-right {
    text-align: center;
    margin-top: 10px;
  }
  .top-header-right .justify-content-end {
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    display: block !important;
  }
  .top-header-right ul li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
  }
  .top-header-right ul li:firat-child {
    margin-left: 0;
  }
  .search-overlay .search-overlay-form {
    max-width: 290px;
    width: 290px;
  }
  .main-banner-area {
    padding-top: 60px;
    padding-bottom: 125px;
  }
  .main-banner-area .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-banner-content {
    max-width: 100%;
    padding: 25px 15px;
    border-left-width: 2px;
    text-align: center;
  }
  .main-banner-content .sub-title {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .main-banner-content h1 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .main-banner-content p {
    max-width: 100%;
  }
  .main-banner-content .default-btn {
    margin-top: 5px;
  }
  .home-slides.owl-theme .owl-nav {
    opacity: 1;
    visibility: visible;
    top: auto;
    bottom: 60px;
    -webkit-transform: unset;
            transform: unset;
    right: 0;
    left: 0;
  }
  .home-slides.owl-theme .owl-nav [class*=owl-] {
    width: 35px;
    height: 35px;
    margin: 0 5px;
    font-size: 20px;
    display: inline-block;
  }
  .home-slides.owl-theme .owl-nav [class*=owl-] i {
    margin-top: 0;
  }
  .single-categories-box .content {
    top: auto;
    left: 15px;
    -webkit-transform: unset;
            transform: unset;
    bottom: 15px;
  }
  .single-categories-box .content h3 {
    font-size: 17px;
  }
  .single-categories-box .content span {
    font-size: 14px;
  }
  .single-categories-box .content .default-btn {
    margin-top: 15px;
  }
  .single-categories-item .content {
    left: 15px;
  }
  .single-categories-item .content h3 {
    font-size: 17px;
    margin-bottom: 15px;
  }
  .single-products-box .image .products-button li {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .single-products-box .image .add-to-cart-btn {
    bottom: 0;
    opacity: 1;
    font-size: 14px;
    visibility: visible;
    padding: 8px 10px 9px;
  }
  .single-products-box .image .add-to-cart-btn i {
    font-size: 18px;
    top: 2.5px;
  }
  .single-products-box .content {
    text-align: center;
  }
  .single-products-box .content h3 {
    font-size: 17px;
  }
  .single-products-box .content .price span {
    font-size: 14px;
  }
  .products-slides.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
  }
  .single-products-item .content {
    left: 15px;
    bottom: 15px;
  }
  .single-products-item .content h3 {
    font-size: 17px;
  }
  .single-products-item .content span {
    font-size: 14px;
  }
  .single-products-item .content .default-btn {
    margin-top: 15px;
  }
  .about-image {
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 0;
  }
  .about-image img:nth-child(2) {
    width: auto;
    border-radius: 5px;
    position: relative;
    margin-top: 30px;
  }
  .about-content {
    padding-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  .about-content .sub-title {
    font-size: 13px;
  }
  .about-content h2 {
    font-size: 24px;
  }
  .about-content h3 {
    font-size: 17px;
  }
  .why-choose-content {
    padding-right: 0;
    text-align: center;
  }
  .why-choose-content .sub-title {
    font-size: 13px;
  }
  .why-choose-content h2 {
    font-size: 24px;
  }
  .why-choose-content h3 {
    font-size: 17px;
    padding-left: 0;
  }
  .why-choose-content h3::before {
    display: none;
  }
  .why-choose-image {
    padding-left: 0;
    margin-top: 30px;
  }
  .testimonials-area::before {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 280px;
  }
  .single-testimonials-item p {
    font-size: 15px;
  }
  .single-testimonials-item .clients-info {
    margin-top: 20px;
  }
  .single-testimonials-item .clients-info .info h3 {
    font-size: 17px;
  }
  .single-testimonials-item .clients-info .info span {
    font-size: 13px;
  }
  .testimonials-slides .single-testimonials-item {
    max-width: 100%;
  }
  .testimonials-slides.owl-theme .owl-nav [class*=owl-] {
    top: auto;
    bottom: 8px;
    -webkit-transform: unset;
            transform: unset;
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
  .video-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .video-content h2 {
    font-size: 24px;
  }
  .video-content p {
    max-width: 100%;
  }
  .video-content .video-btn {
    width: 60px;
    height: 60px;
    font-size: 50px;
  }
  .video-content .video-btn i {
    margin-top: 0;
  }
  .promotions-content {
    text-align: center;
    margin-bottom: 30px;
  }
  .promotions-content h2 {
    margin-bottom: 15px;
    font-size: 24px;
  }
  .promotions-content span {
    font-size: 16px;
  }
  .promotions-content .default-btn {
    margin-top: 20px;
  }
  .single-blog-post .content .meta li i {
    top: 3px;
    font-size: 15px;
  }
  .single-blog-post .content h3 {
    font-size: 17px;
  }
  .blog-details-desc .article-content .entry-meta {
    margin-bottom: 10px;
  }
  .blog-details-desc .article-content .entry-meta ul li {
    font-size: 14px;
    margin-right: 15px;
    margin-bottom: 5px;
  }
  .blog-details-desc .article-content .entry-meta ul li::before {
    right: -10px;
    top: 4px;
  }
  .blog-details-desc .article-content h3 {
    font-size: 17px;
    margin-bottom: 15px;
  }
  .blog-details-desc .article-content .features-list {
    margin-top: 20px;
  }
  .blog-details-desc .article-content .features-list li {
    font-size: 14px;
  }
  .blog-details-desc .article-footer {
    text-align: center;
    padding-top: 25px;
    margin-top: 25px;
  }
  .blog-details-desc .article-footer .article-tags {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .blog-details-desc .article-footer .article-share {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-top: 15px;
  }
  .blog-details-desc .article-footer .article-share .social {
    text-align: center;
  }
  .blog-details-desc .article-author .author-profile {
    padding: 0 15px 15px;
  }
  .blog-details-desc .article-author .author-profile .author-profile-title h4 {
    font-size: 16px;
  }
  .prev-link-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
  }
  .prev-link-wrapper .prev-title {
    font-size: 14px;
  }
  .next-link-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
  .next-link-wrapper .next-title {
    font-size: 14px;
  }
  blockquote, .blockquote {
    padding: 20px !important;
  }
  blockquote p, .blockquote p {
    font-size: 15px !important;
  }
  blockquote::before, .blockquote::before {
    left: 25px;
    top: -10px;
    font-size: 60px;
  }
  .comments-area .comments-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .comments-area .comment-body {
    padding-left: 0;
  }
  .comments-area .comment-author {
    font-size: 15px;
  }
  .comments-area .comment-author .avatar {
    height: 50px;
    left: 0;
    position: relative;
    width: 50px;
    display: block;
    margin-bottom: 12px;
  }
  .comments-area .comment-respond .comment-reply-title {
    font-size: 18px;
  }
  .comments-area .comment-respond .comment-form-author {
    width: 100%;
    padding-right: 0;
  }
  .comments-area .comment-respond .comment-form-email {
    width: 100%;
    padding-left: 0;
  }
  .comments-area .comment-respond .form-submit input {
    padding: 10px 25px;
    font-size: 14px;
  }
  .comments-area .comment-respond input[type="date"], .comments-area .comment-respond input[type="time"], .comments-area .comment-respond input[type="datetime-local"], .comments-area .comment-respond input[type="week"], .comments-area .comment-respond input[type="month"], .comments-area .comment-respond input[type="text"], .comments-area .comment-respond input[type="email"], .comments-area .comment-respond input[type="url"], .comments-area .comment-respond input[type="password"], .comments-area .comment-respond input[type="search"], .comments-area .comment-respond input[type="tel"], .comments-area .comment-respond input[type="number"], .comments-area .comment-respond textarea {
    font-size: 14px;
  }
  .contact-inner-area {
    padding: 30px 15px;
    margin-top: -100px;
  }
  .contact-form {
    margin-left: 0;
    margin-top: 30px;
  }
  .contact-info-box {
    padding-left: 90px;
  }
  .contact-info-box .icon {
    width: 70px;
    height: 75px;
  }
  .contact-info-box h3 {
    margin-bottom: 8px;
    font-size: 17px;
  }
  .subscribe-area form {
    max-width: 100%;
    padding-right: 0;
    margin-top: 25px;
  }
  .subscribe-area form .default-btn {
    position: relative;
    top: 0;
    height: auto;
    margin-top: 15px;
  }
  .subscribe-area form .input-newsletter {
    padding-left: 50px;
    padding-top: 1px;
  }
  .subscribe-area form #validator-newsletter {
    bottom: -25px;
  }
  .page-title-area {
    padding-top: 70px;
    padding-bottom: 65px;
  }
  .page-title-content {
    max-width: 100%;
    text-align: center;
  }
  .page-title-content .sub-title {
    font-size: 13px;
  }
  .page-title-content h2 {
    font-size: 26px;
  }
  .page-title-content h2::before {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .pagination-area {
    margin-top: 15px;
  }
  .pagination-area .page-numbers {
    width: 35px;
    height: 35px;
    line-height: 37px;
    font-size: 16px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .guto-grid-sorting {
    margin-bottom: 30px;
    text-align: center;
  }
  .guto-grid-sorting .ordering {
    text-align: center;
    margin-top: 15px;
  }
  .products-area .pagination-area {
    margin-top: 15px;
  }
  .cart-table table thead tr th {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cart-table table thead tr th:first-child {
    padding-left: 0;
  }
  .cart-table table thead tr th:last-child {
    padding-right: 60px;
  }
  .cart-table table tbody tr td {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cart-table table tbody tr td:first-child {
    padding-left: 0;
  }
  .cart-buttons .shopping-coupon-code {
    text-align: center;
  }
  .cart-buttons .shopping-coupon-code button {
    position: relative;
    right: 0;
    top: 0;
    height: auto;
    padding: 14px 25px 15px;
    line-height: initial;
    font-size: 14px;
    margin-top: 15px;
  }
  .cart-buttons .text-right {
    text-align: center !important;
    margin-top: 20px;
  }
  .cart-totals {
    padding: 25px 20px;
    max-width: 100%;
    margin-top: 40px;
  }
  .cart-totals ul {
    margin-bottom: 20px;
  }
  .cart-totals ul li {
    font-size: 14px;
  }
  .cart-totals ul li:last-child {
    font-size: 17px;
  }
  .user-actions {
    padding: 10px;
  }
  .user-actions span {
    font-size: 13px;
  }
  .billing-details .title {
    font-size: 17px;
  }
  .billing-details .form-group .nice-select {
    font-size: 14px;
  }
  .billing-details .form-group label {
    font-size: 14px;
  }
  .billing-details .form-check label {
    left: -2px;
  }
  .order-details {
    margin-top: 40px;
  }
  .order-details .title {
    font-size: 17px;
  }
  .order-details .order-table table thead tr th {
    font-size: 14px;
  }
  .order-details .order-table table tbody tr td {
    font-size: 14px;
  }
  .order-details .payment-box {
    padding: 20px;
  }
  .order-details .payment-box .payment-method p [type="radio"]:checked + label::before, .order-details .payment-box .payment-method p [type="radio"]:not(:checked) + label::before {
    top: 3px;
  }
  .order-details .payment-box .payment-method p [type="radio"]:checked + label::after {
    top: 6px;
  }
  .products-details-desc {
    padding-left: 0;
    margin-top: 35px;
  }
  .products-details-desc h3 {
    font-size: 17px;
  }
  .products-details-desc .products-review .rating {
    font-size: 15px;
  }
  .products-details-desc .products-review .rating .rating-count {
    top: -2px;
  }
  .products-details-desc .products-meta span {
    font-size: 14px;
  }
  .products-details-desc .products-add-to-cart .input-counter {
    max-width: 110px;
    min-width: 110px;
  }
  .products-details-desc .products-add-to-cart .input-counter input {
    height: 45px;
    font-size: 15px;
  }
  .products-details-desc .products-add-to-cart .input-counter span {
    width: 40px;
    line-height: 51px;
    font-size: 20px;
  }
  .products-details-desc .products-add-to-cart .default-btn {
    top: -1px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .products-details-tabs .nav {
    margin-bottom: 30px;
  }
  .products-details-tabs .nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .products-details-tabs .nav .nav-item .nav-link {
    font-size: 15px;
  }
  .products-details-tabs .tab-content .tab-pane {
    max-width: 100%;
  }
  .products-details-tabs .tab-content .tab-pane ul li {
    font-size: 14px;
  }
  .products-details-tabs .tab-content .tab-pane .products-reviews h3 {
    font-size: 17px;
  }
  .products-details-tabs .tab-content .tab-pane .products-reviews .rating {
    top: 2px;
  }
  .products-details-tabs .tab-content .tab-pane .products-reviews .rating span {
    font-size: 15px;
  }
  .products-details-tabs .tab-content .tab-pane .products-reviews .side {
    width: 20%;
  }
  .products-details-tabs .tab-content .tab-pane .products-reviews .side div {
    font-size: 14px;
  }
  .products-details-tabs .tab-content .tab-pane .products-reviews .middle {
    width: 60%;
  }
  .products-details-tabs .tab-content .tab-pane .products-review-comments h3 {
    padding-bottom: 10px;
    font-size: 17px;
  }
  .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review {
    padding-left: 0;
  }
  .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review img {
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 15px;
  }
  .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review .review-rating span {
    display: block !important;
    top: 0;
    font-size: 15px;
    margin-left: 0;
    margin-top: 5px;
  }
  .products-details-tabs .tab-content .tab-pane .review-form-wrapper h3 {
    font-size: 17px;
  }
  .products-details-tabs .tab-content .tab-pane .review-form-wrapper form button {
    margin-top: 20px;
    padding: 11px 30px;
    font-size: 14px;
  }
  .faq-accordion .card .card-header button {
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .faq-accordion .card .card-header button::before {
    right: 10px;
  }
  .error-content h3 {
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 30px;
  }
  .error-content .default-btn {
    margin-top: 15px;
  }
  .login-form {
    padding: 30px 20px;
    margin-right: 0;
  }
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
  }
  .login-form form .lost-your-password-wrap {
    text-align: left;
    margin-top: 15px;
  }
  .login-form form button {
    padding: 13px 30px;
    font-size: 15px;
  }
  .register-form {
    margin-top: 40px;
    border-top: 1px solid #eeeeee;
    padding-left: 0;
    padding-top: 30px;
  }
  .register-form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
  }
  .register-form form .lost-your-password-wrap {
    text-align: left;
    margin-top: 15px;
  }
  .register-form form button {
    padding: 13px 30px;
    font-size: 15px;
  }
  .coming-soon-area {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .coming-soon-content {
    padding: 30px 20px;
    text-align: center;
    max-width: 100%;
  }
  .coming-soon-content h2 {
    margin-top: 25px;
    font-size: 25px;
  }
  .coming-soon-content #timer {
    margin-top: 10px;
  }
  .coming-soon-content #timer div {
    width: 95px;
    height: 100px;
    font-size: 32px;
    margin-top: 20px;
  }
  .coming-soon-content #timer div span {
    font-size: 14px;
  }
  .coming-soon-content form {
    max-width: 100%;
    margin-top: 40px;
  }
  .coming-soon-content form .form-group {
    margin-bottom: 20px;
  }
  .coming-soon-content form .form-group .input-newsletter {
    font-size: 14px;
  }
  .coming-soon-content form .form-group .label-title i {
    top: 12px;
    font-size: 20px;
  }
  .widget-area {
    padding-left: 0;
    margin-top: 40px;
  }
  .widget-area .widget {
    margin-bottom: 30px;
  }
  .widget-area .widget .widget-title {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .widget-area .widget_guto_posts_thumb .item .info .title {
    font-size: 15px;
  }
  .widget-area .widget_guto_posts_thumb .item .info .meta li {
    margin-right: 10px;
  }
  .widget-area .widget_socials_link ul li a {
    font-size: 14px;
  }
  .widget-area .widget_buy_now .content {
    padding: 15px;
    max-width: 225px;
  }
  .widget-area .widget_buy_now .content::before {
    margin: -10px;
  }
  .widget-area .tagcloud a {
    font-size: 13px !important;
  }
  .widget-area.secondary {
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .widget-area .widget_top_rated_products .item .info .title {
    font-size: 14.5px;
  }
  .customer-service-content h3 {
    font-size: 17px;
  }
  .rooms-content {
    padding: 25px 15px;
    max-width: 100%;
    border-left-width: 2px;
  }
  .rooms-content h1 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .rooms-content .default-btn {
    margin-top: 20px;
  }
  .single-facility-box .icon {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }
  .single-facility-box .icon i {
    top: 40%;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  .single-facility-box h3 {
    font-size: 17px;
    padding-top: 20px;
    margin-top: -20px;
  }
  .footer-area {
    padding-top: 60px;
  }
  .single-footer-widget .social-links li a {
    font-size: 17px;
  }
  .single-footer-widget h3 {
    font-size: 17px;
    padding-bottom: 7px;
  }
  .single-footer-widget h3::before {
    height: 1px;
  }
  .single-footer-widget.pl-5, .single-footer-widget.px-5 {
    padding-left: 0 !important;
  }
  .footer-bottom-area {
    margin-top: 30px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .footer-bottom-area ul {
    text-align: center;
    margin-top: 10px;
  }
  .circle-map {
    right: 0;
    left: 0;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .go-top {
    right: 15px;
    width: 37px;
    height: 40px;
    font-size: 25px;
  }
  .go-top.active {
    bottom: 15px;
  }
  .productsQuickView .modal-dialog {
    max-width: 100%;
    margin: 0 auto;
  }
  .productsQuickView .modal-content {
    padding: 15px;
  }
  .productsQuickView .modal-content .products-content {
    margin-top: 25px;
  }
  .productsQuickView .modal-content .products-content h3 {
    font-size: 17px;
  }
  .productsQuickView .modal-content .products-content .price {
    font-size: 14px;
  }
  .productsQuickView .modal-content .products-content .products-info li {
    font-size: 14px;
  }
  .productsQuickView .modal-content .products-content .products-color-switch h4 {
    font-size: 14px;
  }
  .productsQuickView .modal-content .products-content .products-size-wrapper h4 {
    font-size: 14px;
  }
  .productsQuickView .modal-content .products-content .products-add-to-cart .input-counter input {
    height: 43px;
    font-size: 16px;
  }
  .productsQuickView .modal-content .products-content .products-add-to-cart .input-counter span {
    line-height: 49px;
  }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .top-header-area .container-fluid {
    max-width: 540px;
  }
  .main-banner-area .container-fluid {
    max-width: 540px;
  }
  .blog-details-desc .article-footer {
    text-align: left;
  }
  .blog-details-desc .article-footer .article-tags {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .blog-details-desc .article-footer .article-share {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    margin-top: 0;
  }
  .blog-details-desc .article-footer .article-share .social {
    text-align: right;
  }
  .comments-area .comment-body {
    padding-left: 70px;
  }
  .comments-area .comment-author .avatar {
    left: -70px;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    position: absolute;
  }
  .footer-bottom-area {
    text-align: left;
  }
  .footer-bottom-area ul {
    margin-top: 0;
    text-align: right;
  }
  .productsQuickView .modal-dialog {
    max-width: 500px;
  }
  .productsQuickView .modal-content {
    padding: 30px;
  }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .ptb-100 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pt-100 {
    padding-top: 80px;
  }
  .pb-100 {
    padding-bottom: 80px;
  }
  .ptb-70 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 50px;
  }
  .pb-70 {
    padding-bottom: 50px;
  }
  .default-btn {
    padding: 10px 30px 10px 55px;
    font-size: 14px;
  }
  .default-btn i {
    font-size: 18px;
  }
  .section-title {
    margin-bottom: 45px;
    max-width: 615px;
  }
  .section-title .sub-title {
    font-size: 13px;
  }
  .section-title h2 {
    font-size: 30px;
  }
  .top-header-area .container-fluid {
    max-width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-banner-area {
    padding-top: 100px;
    padding-bottom: 180px;
  }
  .main-banner-area .container-fluid {
    max-width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-banner-content {
    max-width: 720px;
    padding: 50px;
    border-left-width: 5px;
  }
  .main-banner-content .sub-title {
    font-size: 13px;
  }
  .main-banner-content h1 {
    font-size: 42px;
    margin-bottom: 15px;
  }
  .main-banner-content .default-btn {
    margin-top: 5px;
  }
  .home-slides.owl-theme .owl-nav {
    opacity: 1;
    visibility: visible;
    top: auto;
    bottom: 100px;
    -webkit-transform: unset;
            transform: unset;
    right: 0;
    left: 0;
  }
  .home-slides.owl-theme .owl-nav [class*=owl-] {
    width: 35px;
    height: 35px;
    margin: 0 5px;
    font-size: 20px;
    display: inline-block;
  }
  .home-slides.owl-theme .owl-nav [class*=owl-] i {
    margin-top: 0;
  }
  .single-categories-box .content {
    left: 20px;
  }
  .single-categories-box .content h3 {
    font-size: 22px;
  }
  .single-categories-box .content span {
    font-size: 15px;
  }
  .single-categories-box .content .default-btn {
    margin-top: 15px;
  }
  .single-products-item .content {
    left: 40px;
    bottom: 40px;
  }
  .single-products-item .content h3 {
    font-size: 22px;
  }
  .single-products-item .content span {
    font-size: 15px;
  }
  .single-products-item .content .default-btn {
    margin-top: 15px;
  }
  .single-products-box .content h3 {
    margin-bottom: 12px;
  }
  .products-slides.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
  }
  .promotions-content {
    text-align: center;
    margin-bottom: 30px;
  }
  .promotions-content h2 {
    font-size: 40px;
  }
  .promotions-content span {
    font-size: 20px;
  }
  .productsQuickView .modal-content .products-content h3 {
    font-size: 20px;
  }
  .single-categories-item .content {
    left: 20px;
  }
  .single-categories-item .content h3 {
    font-size: 20px;
  }
  .about-image {
    margin-left: 0;
  }
  .about-image img:nth-child(2) {
    width: 350px;
  }
  .about-content {
    padding-right: 0;
    text-align: center;
    margin-bottom: 30px;
  }
  .about-content .sub-title {
    font-size: 13px;
  }
  .about-content h2 {
    font-size: 30px;
  }
  .about-content h3 {
    font-size: 20px;
  }
  .rooms-content h1 {
    font-size: 28px;
  }
  .why-choose-content {
    padding-right: 0;
    text-align: center;
  }
  .why-choose-content .sub-title {
    font-size: 13px;
  }
  .why-choose-content h2 {
    font-size: 30px;
  }
  .why-choose-content h3 {
    font-size: 20px;
    padding-left: 0;
  }
  .why-choose-content h3::before {
    display: none;
  }
  .why-choose-image {
    padding-left: 0;
    margin-top: 30px;
  }
  .single-testimonials-item .clients-info {
    margin-top: 25px;
  }
  .testimonials-slides .single-testimonials-item {
    max-width: 100%;
  }
  .testimonials-slides.owl-theme .owl-nav [class*=owl-] {
    top: auto;
    bottom: 9px;
    -webkit-transform: unset;
            transform: unset;
  }
  .video-area {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .video-content h2 {
    font-size: 30px;
  }
  .video-content .video-btn {
    width: 70px;
    height: 70px;
    font-size: 55px;
  }
  .single-blog-post .content h3 {
    font-size: 20px;
  }
  .subscribe-area form {
    max-width: 100%;
    padding-right: 200px;
  }
  .page-title-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .page-title-content h2 {
    font-size: 35px;
  }
  .page-title-content h2::before {
    right: 0;
    margin: 0 auto;
  }
  .products-area .pagination-area {
    margin-top: 15px;
  }
  .single-products-box .products-image .default-btn {
    left: 15px;
    top: auto;
    -webkit-transform: unset;
            transform: unset;
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    bottom: 15px;
  }
  .single-products-box .products-content h3 {
    font-size: 20px;
  }
  .billing-details .title {
    font-size: 20px;
  }
  .order-details {
    margin-top: 35px;
  }
  .products-details-desc {
    padding-left: 0;
    margin-top: 30px;
  }
  .products-details-desc h3 {
    font-size: 20px;
  }
  .products-details-tabs .tab-content .tab-pane .products-reviews h3 {
    font-size: 20px;
  }
  .products-details-tabs .tab-content .tab-pane .products-review-comments h3 {
    font-size: 20px;
  }
  .login-form {
    margin-right: 0;
  }
  .login-form h2 {
    font-size: 25px;
  }
  .register-form {
    margin-top: 40px;
    border-top: 1px solid #eeeeee;
    padding-left: 0;
    padding-top: 30px;
  }
  .register-form h2 {
    font-size: 25px;
  }
  .widget-area {
    padding-left: 0;
    margin-top: 40px;
  }
  .widget-area .widget {
    margin-bottom: 30px;
  }
  .widget-area .widget .widget-title {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .widget-area.secondary {
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .customer-service-content h3 {
    font-size: 20px;
  }
  .single-facility-box h3 {
    font-size: 20px;
  }
  .blog-details-desc .article-content h3 {
    font-size: 20px;
  }
  .blog-details-desc .article-author .author-profile .author-profile-title h4 {
    font-size: 18px;
  }
  .prev-link-wrapper .prev-title {
    font-size: 16px;
  }
  .next-link-wrapper .next-title {
    font-size: 16px;
  }
  .comments-area .comments-title {
    font-size: 20px;
  }
  .comments-area .comment-respond .comment-reply-title {
    font-size: 20px;
  }
  .contact-form {
    margin-left: 0;
    margin-top: 55px;
  }
  .footer-area {
    padding-top: 80px;
  }
  .single-footer-widget h3 {
    font-size: 20px;
  }
  .footer-bottom-area {
    margin-top: 50px;
  }
  .productsQuickView .modal-dialog {
    max-width: 720px;
  }
  .productsQuickView .modal-content {
    padding: 30px 20px;
  }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .section-title h2 {
    font-size: 35px;
  }
  .top-header-area .container-fluid {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-area {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .guto-responsive-nav .others-option {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute;
    right: 60px;
    top: -2px;
  }
  .others-option-for-responsive {
    display: none;
  }
  .main-banner-area {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .main-banner-area .container-fluid {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-banner-content {
    max-width: 700px;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 75px;
    padding-right: 75px;
  }
  .main-banner-content h1 {
    font-size: 45px;
  }
  .main-banner-content p {
    max-width: 100%;
  }
  .single-categories-box .content {
    left: 30px;
  }
  .single-categories-box .content h3 {
    font-size: 25px;
  }
  .single-products-box .content .price span {
    font-size: 15px;
  }
  .products-slides.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
  }
  .products-details-desc {
    padding-left: 0;
  }
  .widget-area {
    padding-left: 0;
  }
  .widget-area .widget_buy_now .content {
    max-width: 220px;
  }
  .contact-form {
    padding: 30px;
    margin-left: 10px;
  }
  .single-categories-item .content {
    left: 20px;
  }
  .why-choose-content {
    padding-right: 0;
  }
  .why-choose-image {
    padding-left: 0;
  }
  .about-image {
    margin-left: 0;
  }
  .about-content {
    padding-right: 0;
  }
  .about-content h2 {
    font-size: 35px;
  }
  .promotions-content h2 {
    font-size: 45px;
  }
}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {
  .container {
    max-width: 1140px;
  }
  .top-header-area .container-fluid {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .guto-nav .container-fluid {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-banner-area .container-fluid {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .why-choose-content {
    padding-right: 0;
  }
  .why-choose-image {
    padding-left: 0;
  }
  .about-image {
    margin-left: 0;
  }
  .about-content {
    padding-right: 0;
  }
  .rooms-content h1 {
    font-size: 30px;
  }
}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {
  .top-header-area .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
  }
  .guto-nav .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
  }
  .main-banner-area .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
  }
  .home-slides.owl-theme .owl-nav {
    right: 100px;
  }
}
/*# sourceMappingURL=responsive.css.map */