/* Max width 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .container {
    max-width: 100%;
  }
  .default-btn {
    padding: 11px 25px 11px 50px;
    font-size: 14px;
  }
  .admin-bar .navbar-area.is-sticky {
    top: 0;
  }
  .default-btn i {
    left: 25px;
    font-size: 18px;
  }
  .ptb-100 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .pt-100 {
    padding-top: 60px;
  }
  .pb-100 {
    padding-bottom: 60px;
  }
  .ptb-70 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pt-70 {
    padding-top: 30px;
  }
  .pb-70 {
    padding-bottom: 30px;
  }
  .section-title {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .section-title .sub-title {
    font-size: 13px;
  }
  .section-title h2 {
    font-size: 24px;
  }
  .form-control {
    font-size: 14px;
  }
  .top-header-area {
    text-align: center;
  }
  .top-header-area .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .top-header-contact-info {
    margin-bottom: -8px;
  }
  .top-header-contact-info li {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
  }
  .top-header-contact-info li:firat-child {
    margin-left: 0;
  }
  .top-header-right {
    text-align: center;
    margin-top: 10px;
  }
  .top-header-right .justify-content-end {
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
    display: block !important;
  }
  .top-header-right ul li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
  }
  .top-header-right ul li:firat-child {
    margin-left: 0;
  }
  .search-overlay .search-overlay-form {
    max-width: 290px;
    width: 290px;
  }
  .admin-bar .navbar-area.is-sticky {
    top: 0;
  }
  .main-banner-area {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .main-banner-area .container {
    max-width: 100%;
  }
  .main-banner-content {
    padding-right: 0;
    text-align: center;
  }
  .main-banner-content .sub-title {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .main-banner-content h1 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .main-banner-content p {
    max-width: 100%;
  }
  .main-banner-content .default-btn {
    margin-top: 5px;
  }
  .main-banner-image {
    text-align: center;
    margin-left: 0;
    margin-top: 30px;
    padding-left: 0;
    padding-bottom: 0;
  }
  .main-banner-image img:nth-child(2) {
    position: relative;
    left: 0;
    bottom: 0;
    width: auto;
    margin: 30px auto 0;
  }
  .shape1, .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8, .shape9, .shape10 {
    display: none;
  }
  .main-banner-area-two {
    padding-top: 70px;
  }
  .main-banner-area-two .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-banner-content-two {
    margin-right: 0;
    text-align: center;
    max-width: 100%;
    padding: 0;
    margin-left: 0;
  }
  .main-banner-content-two .sub-title {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .main-banner-content-two h1 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .main-banner-content-two p {
    max-width: 100%;
  }
  .main-banner-content-two .default-btn {
    margin-top: 5px;
  }
  .main-banner-image-two {
    padding-left: 0;
    margin-top: 30px;
  }

  /* Start Main Banner Area FS*/
  .main-banner-area {
    padding-top: 60px;
    padding-bottom: 125px;
  }
  .main-banner-area .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-banner-content-fs {
    max-width: 100%;
    padding: 25px 15px;
    border-left-width: 2px;
    text-align: center;
  }
  .main-banner-content-fs .sub-title {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .main-banner-content-fs h1 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .main-banner-content-fs p {
    max-width: 100%;
  }
  .main-banner-content-fs .default-btn {
    margin-top: 5px;
  }
  .home-slides.owl-theme .owl-nav {
    opacity: 1;
    visibility: visible;
    top: auto;
    bottom: 60px;
    -webkit-transform: unset;
            transform: unset;
    right: 0;
    left: 0;
  }
  .home-slides.owl-theme .owl-nav [class*=owl-] {
    width: 35px;
    height: 35px;
    margin: 0 5px;
    font-size: 20px;
    display: inline-block;
  }
  .home-slides.owl-theme .owl-nav [class*=owl-] i {
    margin-top: 0;
  }
  /* End Main Banner Area FS*/
  
  /* Start Single Category Area FS */
  .single-categories-box-fs .content {
    top: auto;
    left: 15px;
    -webkit-transform: unset;
            transform: unset;
    bottom: 15px;
  }
  .single-categories-box-fs .content h3 {
    font-size: 17px;
  }
  .single-categories-box-fs .content span {
    font-size: 14px;
  }
  .single-categories-box-fs .content .default-btn {
    margin-top: 15px;
  }
  /* End Single Category Area FS */
  
  /* Start Products Grid FS */
  .single-products-box .image .products-button li {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .single-products-box .image .add-to-cart-btn {
    bottom: 0;
    opacity: 1;
    font-size: 14px;
    visibility: visible;
    padding: 8px 10px 9px;
  }
  .single-products-box .image .add-to-cart-btn i {
    font-size: 18px;
    top: 2.5px;
  }
  .single-products-box .content {
    text-align: center;
  }
  .single-products-box .content h3 {
    font-size: 17px;
  }
  .single-products-box .content .price span {
    font-size: 14px;
  }
  .single-products-item .content {
    left: 15px;
    bottom: 15px;
  }
  .single-products-item .content h3 {
    font-size: 17px;
  }
  .single-products-item .content span {
    font-size: 14px;
  }
  .single-products-item .content .default-btn {
    margin-top: 15px;
  }
  /* End Products Grid FS */
  
  /* Start Page Title Area FS */
  .page-title-area-fs {
    padding-top: 70px;
    padding-bottom: 65px;
  }
  .page-title-content-fs {
    max-width: 100%;
    text-align: center;
  }
  .page-title-content-fs .sub-title {
    font-size: 14px;
  }
  .page-title-content-fs h2 {
    font-size: 26px;
  }
  .page-title-content-fs h2::before {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  /* End Page Title Area FS */

  /* Start Rooms Area FS */
  .rooms-content {
    padding: 25px 15px;
    max-width: 100%;
    border-left-width: 2px;
  }
  .rooms-content h1 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .rooms-content .default-btn {
    margin-top: 20px;
  }
  /* End Rooms Area FS */

  .single-featured-services-box {
    padding: 25px 15px;
  }
  .single-featured-services-box h3 {
    font-size: 17px;
  }
  .single-categories-box h3 {
    top: 15%;
    left: 15px;
    font-size: 17px;
  }
  .single-categories-box .default-btn {
    left: 15px;
    bottom: 15px;
  }
  .single-categories-item .content {
    left: 15px;
  }
  .single-categories-item .content h3 {
    font-size: 17px;
    margin-bottom: 18px;
  }
  .about-image {
    padding-right: 0;
  }
  .about-content {
    padding-left: 0;
    text-align: center;
    margin-top: 30px;
  }
  .about-content .sub-title {
    font-size: 13px;
  }
  .about-content h2 {
    font-size: 24px;
  }
  .about-content h3 {
    font-size: 17px;
  }
  .testimonials-area::before {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 280px;
  }
  .single-testimonials-item p {
    font-size: 15px;
  }
  .single-testimonials-item .clients-info {
    margin-top: 20px;
  }
  .single-testimonials-item .clients-info .info h3 {
    font-size: 17px;
  }
  .single-testimonials-item .clients-info .info span {
    font-size: 13px;
  }
  .testimonials-slides .single-testimonials-item {
    max-width: 100%;
  }
  .testimonials-slides.owl-theme .owl-nav [class*=owl-] {
    top: auto;
    bottom: 8px;
    -webkit-transform: unset;
            transform: unset;
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
  .services-area {
    padding-bottom: 30px;
  }
  .single-services-box {
    margin-bottom: 30px;
    padding-left: 0;
    text-align: center;
  }
  .single-services-box .icon {
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .single-services-box h3 {
    font-size: 17px;
    margin-bottom: 8px;
  }
  .single-services-box p {
    margin-bottom: 12px;
  }
  .video-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .video-content h2 {
    font-size: 24px;
  }
  .video-content p {
    max-width: 100%;
  }
  .video-content .video-btn {
    width: 60px;
    height: 60px;
    font-size: 50px;
  }
  .video-content .video-btn i {
    margin-top: 0;
  }
  .single-working-process-box {
    padding-left: 0;
    text-align: center;
  }
  .single-working-process-box .icon {
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .single-working-process-box h3 {
    font-size: 17px;
    margin-bottom: 8px;
  }
  .single-working-process-box p {
    margin-bottom: 12px;
  }
  .single-working-process-box .number {
    top: 50%;
    font-size: 130px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .why-choose-content {
    padding-right: 0;
    text-align: center;
  }
  .why-choose-content .sub-title {
    font-size: 13px;
  }
  .why-choose-content h2 {
    font-size: 24px;
  }
  .why-choose-content h3 {
    font-size: 17px;
    padding-left: 0;
  }
  .why-choose-content h3::before {
    display: none;
  }
  .why-choose-image {
    padding-left: 0;
    margin-top: 30px;
  }
  .single-team-box .image .social {
    right: 22px;
    bottom: 22px;
  }
  .single-team-box .image .social span {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
  .single-team-box .image .social ul {
    bottom: 50px;
  }
  .single-team-box .image .social ul li {
    position: relative;
    margin-top: 10px;
  }
  .single-team-box .image .social ul li a {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
  .single-team-box .image .social ul li:nth-child(1) {
    right: 0;
    top: 0;
  }
  .single-team-box .image .social ul li:nth-child(2) {
    right: 0;
    top: 0;
  }
  .single-team-box .image .social ul li:nth-child(3) {
    right: 0;
    top: 0;
  }
  .single-team-box .image .social ul li:nth-child(4) {
    right: 0;
    top: 0;
  }
  .single-team-box .image .social ul li:nth-child(5) {
    right: 0;
    top: 0;
  }
  .single-team-box .content {
    margin-top: 20px;
  }
  .single-team-box .content h3 {
    font-size: 17px;
  }
  .single-team-box .content span {
    font-size: 13px;
  }
  .partner-inner-area {
    padding-left: 15px;
    padding-right: 15px;
  }
  .partner-inner-area .section-title {
    text-align: center;
    margin-bottom: 30px;
  }
  .partner-inner-area .partner-list {
    margin-bottom: -30px;
  }
  .partner-inner-area .partner-item {
    margin-bottom: 30px;
  }
  .single-blog-post .content {
    margin-top: 12px;
    padding: 0 15px 15px 15px;
  }
  .single-blog-post .content .meta {
    text-align: center;
  }
  .single-blog-post .content .meta li {
    margin-top: 3px;
  }
  .single-blog-post .content .meta li i {
    top: 3px;
    font-size: 15px;
  }
  .single-blog-post .content h3 {
    text-align: center;
    font-size: 17px;
  }
  .single-blog-post .content .link-btn {
    position: relative;
    left: 0;
    bottom: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
    margin-top: 10px;
  }

  /* Start Single Blog Post Area FS */
  .single-blog-post-fs .content .meta li i {
    top: 3px;
    font-size: 15px;
  }
  .single-blog-post-fs .content h3 {
    font-size: 17px;
  }
  /* End Single Blog Post Area FS */
  
  /* Start Promotion Area FS */
  .promotions-content-fs {
    text-align: center;
    margin-bottom: 30px;
  }
  .promotions-content-fs h2 {
    margin-bottom: 15px;
    font-size: 24px;
  }
  .promotions-content-fs span {
    font-size: 16px;
  }
  .promotions-content-fs .default-btn {
    margin-top: 20px;
  }
  /* End Promotion Area FS */

  .blog-details-desc {
    padding: 15px;
  }
  .blog-details-desc .article-content .entry-meta ul {
    margin-bottom: -15px;
  }
  .blog-details-desc .article-content .entry-meta ul li {
    display: inline-block;
    border-right: none;
    font-size: 13px;
    padding-right: 0;
    margin-bottom: 13px;
    margin-right: 13px;
  }
  .blog-details-desc .article-content .entry-meta ul li:last-child {
    margin-right: 0;
  }
  .blog-details-desc .article-content .entry-meta ul li i {
    font-size: 13px;
  }
  .blog-details-desc .article-content h3 {
    font-size: 18px;
    line-height: 1.4;
  }
  .blog-details-desc .article-footer {
    text-align: center;
    padding-top: 25px;
    margin-top: 25px;
  }
  .blog-details-desc .article-footer .article-tags {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .blog-details-desc .article-footer .article-share {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-top: 15px;
  }
  .blog-details-desc .article-footer .article-share .social {
    text-align: center;
  }
  .blog-details-desc .article-author .author-profile {
    padding: 0 15px 15px;
  }
  .blog-details-desc .article-author .author-profile .author-profile-title h4 {
    font-size: 16px;
  }
  .prev-link-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
  }
  .prev-link-wrapper .prev-title {
    font-size: 14px;
  }
  .next-link-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
  .next-link-wrapper .next-title {
    font-size: 14px;
  }
  blockquote, .blockquote {
    padding: 20px !important;
  }
  blockquote p, .blockquote p {
    font-size: 15px !important;
  }
  blockquote::before, .blockquote::before {
    left: 25px;
    top: -10px;
    font-size: 60px;
  }
  .contact-form {
    padding: 20px;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .contact-info-box {
    padding-left: 90px;
  }
  .contact-info-box .icon {
    width: 70px;
    height: 75px;
  }
  .contact-info-box h3 {
    margin-bottom: 8px;
    font-size: 17px;
  }
  .subscribe-inner-area {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .subscribe-inner-area .sub-title {
    font-size: 13px;
  }
  .subscribe-inner-area h2 {
    font-size: 24px;
  }
  .subscribe-inner-area form {
    max-width: 100%;
    padding-right: 0;
    margin-top: 25px;
  }
  .subscribe-inner-area form .default-btn {
    position: relative;
    top: 0;
    height: auto;
    margin-top: 15px;
  }
  .subscribe-inner-area form .input-newsletter {
    padding-left: 50px;
    padding-top: 1px;
  }
  .subscribe-inner-area form #validator-newsletter {
    bottom: -25px;
  }
  .subscribe-shape1, .subscribe-shape2 {
    display: none;
  }
  .subscribe-inner-area-two {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .subscribe-inner-area-two .sub-title {
    font-size: 13px;
  }
  .subscribe-inner-area-two h2 {
    font-size: 24px;
  }
  .subscribe-inner-area-two form {
    max-width: 100%;
    padding-right: 0;
    margin-top: 25px;
  }
  .subscribe-inner-area-two form .default-btn {
    position: relative;
    top: 0;
    height: auto;
    margin-top: 15px;
  }
  .subscribe-inner-area-two form .input-newsletter {
    padding-left: 50px;
    padding-top: 1px;
  }
  .subscribe-inner-area-two form #validator-newsletter {
    bottom: -25px;
  }
  .page-title-area {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .page-title-area.style-2::before {
    content: '';
  }
  .page-title-content {
    max-width: 100%;
    text-align: center;
  }
  .page-title-content .sub-title {
    font-size: 14px;
  }
  .page-title-content h2 {
    font-size: 26px;
  }
  .page-title-content h2::before {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .single-funfacts-box {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .single-funfacts-box h3 {
    font-size: 35px;
  }
  .single-funfacts-box h3 .odometer {
    top: -1px;
  }
  .single-funfacts-box p {
    margin-top: 8px;
    font-size: 14px;
  }
  .elementor-widget-Overview_Area {
    margin-bottom: 30px !important;
  }
  .services-details-overview {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 40px;
    margin-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .services-details-overview:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  .services-details-overview .services-details-desc {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 15px;
    padding-right: 15px;
  }
  .services-details-overview .services-details-desc h2 {
    margin-bottom: 15px;
    font-size: 20px;
  }
  .services-details-overview .services-details-desc .features-text h3 {
    font-size: 16px;
    padding-left: 20px;
  }
  .services-details-overview .services-details-desc .features-text h3 i {
    left: -5px;
    top: -4px;
    font-size: 22px;
  }
  .services-details-overview .services-details-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .single-projects-box .projects-content {
    padding: 25px 15px;
  }
  .single-projects-box .projects-content h3 {
    font-size: 17px;
  }
  .discover-more-projects-btn {
    margin-top: 15px;
  }
  .pagination-area {
    margin-top: 15px;
  }
  .pagination-area .page-numbers {
    width: 35px;
    height: 35px;
    line-height: 37px;
    font-size: 16px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .projects-details-desc h2 {
    margin-bottom: 12px;
    font-size: 20px;
  }
  .projects-details-desc .features-text h3 {
    font-size: 16px;
    padding-left: 20px;
  }
  .projects-details-desc .features-text h3 i {
    left: -5px;
    top: -4px;
    font-size: 22px;
  }
  .projects-details-desc .project-details-info {
    margin-top: -5px;
    text-align: center;
  }
  .projects-details-desc .project-details-info .single-info-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-top: 20px;
  }
  .projects-details-desc .project-details-info .single-info-box h4 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .single-pricing-box {
    padding: 20px;
  }
  .single-pricing-box .pricing-header {
    margin: -20px -20px 20px -20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 19px;
  }
  .single-pricing-box .pricing-header h3 {
    font-size: 18px;
  }
  .single-pricing-box .price {
    line-height: 30px;
    font-size: 30px;
  }
  .single-pricing-box .price sub {
    line-height: 16px;
    margin: 0 -5px 0 -6px;
    top: -2px;
    font-size: 16px;
  }
  .single-pricing-box .price-features-list {
    padding: 20px;
    margin: 20px -20px 20px -20px;
  }
  .single-pricing-box .price-features-list li {
    font-size: 14px;
  }
  .guto-lite-grid-sorting {
    margin-bottom: 30px;
    text-align: center;
  }
  .guto-lite-grid-sorting .ordering {
    text-align: center;
    margin-top: 15px;
  }
  .products-area .pagination-area {
    margin-top: 15px;
  }
  .single-products-box .products-image .default-btn {
    position: relative;
    left: 0;
    right: 0;
    top: auto;
    -webkit-transform: unset;
            transform: unset;
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    bottom: 15px;
    padding: 11px 25px 11px 50px !important;
    font-size: 11px !important;
  }
  .single-products-box .products-image .added_to_cart {
    padding-top: 0;
  }
  .single-products-box .products-content {
    margin-top: 10px;
  }
  .single-products-box .products-content h3 {
    font-size: 17px !important;
    margin: 0;
  }
  .single-products-box .products-content .price {
    font-size: 14px !important;
  }
  .woocommerce ul.products {
    margin-bottom: 0 !important;
  }
  .woocommerce ul.products li.product {
    margin-bottom: 5px !important;
  }
  .woocommerce .woocommerce-result-count {
    margin: 0;
    text-align: center;
    float: none;
  }
  .woocommerce-topbar .woocommerce-topbar-ordering {
    text-align: center;
    margin-top: 10px;
    margin: 10px 0 0;
    float: none;
    position: relative;
    top: 0;
    right: 0;
    left: 0 !important;
  }
  .woocommerce-topbar .woocommerce-topbar-ordering .form-control {
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;
  }
  .woocommerce-topbar .woocommerce-topbar-ordering .nice-select.open .list {
    width: 100%;
  }
  .faq-accordion .card .card-header button {
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .faq-accordion .card .card-header button::before {
    right: 10px;
  }
  .error-content h3 {
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 30px;
  }
  .error-content .default-btn {
    margin-top: 15px;
  }
  .login-form {
    padding: 30px 20px;
    margin-right: 0;
  }
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
  }
  .login-form form .lost-your-password-wrap {
    text-align: left;
    margin-top: 15px;
  }
  .login-form form button {
    padding: 13px 30px;
    font-size: 15px;
  }
  .register-form {
    margin-top: 40px;
    border-top: 1px solid #eeeeee;
    padding-left: 0;
    padding-top: 30px;
  }
  .register-form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
  }
  .register-form form .lost-your-password-wrap {
    text-align: left;
    margin-top: 15px;
  }
  .register-form form button {
    padding: 13px 30px;
    font-size: 15px;
  }
  .coming-soon-area {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .coming-soon-content {
    padding: 30px 20px;
  }
  .coming-soon-content h2 {
    margin-top: 25px;
    font-size: 25px;
  }
  .coming-soon-content #timer {
    margin-top: 10px;
  }
  .coming-soon-content #timer .countdown-items {
    width: 95px;
    height: 100px;
    font-size: 32px;
    margin-top: 20px;
  }
  .coming-soon-content #timer .countdown-items .guto-lite-label {
    font-size: 14px;
  }
  .coming-soon-content form {
    max-width: 100%;
    margin-top: 40px;
  }
  .coming-soon-content form .form-group {
    margin-bottom: 20px;
  }
  .coming-soon-content form .form-group .input-newsletter {
    font-size: 14px;
  }
  .coming-soon-content form .form-group .label-title i {
    top: 12px;
    font-size: 20px;
  }
  .widget-area {
    padding-left: 0;
    margin-top: 40px;
  }
  .widget-area .widget {
    margin-bottom: 30px;
  }
  .widget-area .widget .widget-title {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .widget-area .widget_guto-lite_posts_thumb .item .info .title {
    font-size: 15px;
  }
  .widget-area .widget_guto-lite_posts_thumb .item .info .meta li {
    margin-right: 10px;
  }
  .widget-area .widget_socials_link ul li a {
    font-size: 14px;
  }
  .widget-area .widget_buy_now .content {
    padding: 15px;
    max-width: 225px;
  }
  .widget-area .widget_buy_now .content::before {
    margin: -10px;
  }
  .widget-area .tagcloud a {
    font-size: 13px !important;
  }
  .footer-area {
    padding-top: 60px;
  }
  .single-footer-widget .social-links li a {
    font-size: 17px;
  }
  .single-footer-widget h3 {
    font-size: 17px;
    padding-bottom: 7px;
  }
  .single-footer-widget h3::before {
    height: 1px;
  }
  .single-footer-widget.pl-5, .single-footer-widget.px-5 {
    padding-left: 0 !important;
  }
  .footer-bottom-area {
    margin-top: 30px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .footer-bottom-area ul {
    text-align: center;
    margin-top: 10px;
  }
  .circle-map {
    right: 0;
    left: 0;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .go-top {
    right: 15px;
    width: 37px;
    height: 40px;
    font-size: 25px;
  }
  .go-top.active {
    bottom: 15px;
  }
  .shop-sidebar {
    padding-left: 0;
    padding-top: 50px;
  }
  .shop-sidebar h3 {
    margin-bottom: 21px;
    margin-top: 22px;
    font-size: 19px;
  }
  .single-blog-post.without-image {
    padding: 10px 20px;
  }
  .sticky .single-blog-post .content {
    padding: 10px 20px;
    margin-top: 5px;
  }
  .sidebar {
    padding-left: 0;
    padding-top: 30px;
  }
  .sidebar .widget {
    margin-bottom: 25px;
    padding: 20px;
  }
  .sidebar .widget:last-child {
    margin-bottom: 0px;
  }
  .sidebar .widget .widget-title {
    margin-bottom: 12px;
    padding-bottom: 12px;
    font-size: 17px;
  }
  .sidebar .widget ul li {
    padding-left: 15px;
    font-size: 13px;
  }
  .sidebar .widget ul li::before {
    top: 4px;
  }
  .sidebar .widget:last-child {
    margin-bottom: 0;
  }
  .sidebar .tagcloud a {
    font-size: 13px !important;
    margin-top: 8px;
    margin-right: 4px;
  }
  .single-footer-widget {
    margin-bottom: 15px;
  }
  .single-footer-widget .logo {
    margin-bottom: 0;
  }
  table td, table th {
    padding: 9px 6px;
  }
  .products_details div.product .woocommerce-tabs ul#tabs .nav-item {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-area.hide-adminbar.is-sticky {
    top: 0;
  }
  #comments {
    padding: 20px;
  }
  #comments .comment-author .avatar {
    height: 50px;
    left: 0;
    position: relative;
    width: 50px;
    display: block;
    margin-bottom: 7px;
  }
  #comments .comment-list .comment-body {
    margin-left: 0;
  }
  #comments .children .comment-author .avatar {
    left: 0;
  }
  #comments .comment-metadata {
    font-size: 9px;
  }
  .post-password-form label input {
    margin: 0;
  }
  .ordering {
    margin-bottom: 25px;
  }
  .woocommerce-result-count {
    text-align: center;
    float: unset !important;
  }
  .woocommerce-ordering {
    float: unset !important;
  }
  .blog-details-area .blog-details-content h1 {
    font-size: 30px;
  }
  .blog-details-area .blog-details-content h2 {
    font-size: 25px;
  }
  .blog-details-area .blog-details-content h3 {
    font-size: 22px;
  }
  .blog-details-area .blog-details-content h4 {
    font-size: 20px;
  }
  .blog-details-area .blog-details-content h5 {
    font-size: 18px;
  }
  .blog-details-area .blog-details-content h6 {
    font-size: 17px;
  }
  .blog-details-area .blog-details-content .post-tag-media {
    padding: 1px 10px;
  }
  .blog-details-area .blog-details-content .post-tag-media ul {
    text-align: center;
  }
  .comment-respond .form-submit input {
    padding: 7px 17px 5px;
    font-size: 14px;
  }
  .single-products-box-two .image .quick-view-btn {
    padding: 8px 10px 9px;
    opacity: 1;
    visibility: visible;
    bottom: 0;
    font-size: 14px;
  }
  .single-products-box-two .image .quick-view-btn i {
    font-size: 18px;
    top: 3.5px;
  }
  .single-products-box-two .content h3 {
    font-size: 16px;
    margin-bottom: 14px;
  }
  .single-products-box-two .content .price {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .single-products-box-two .content .price span {
    font-size: 14px;
  }
  .single-products-box-two .content .add-to-cart-btn {
    left: auto;
    right: 0;
    position: relative;
    opacity: 1;
    visibility: visible;
    margin-left: 0;
    font-size: 14px;
  }
  .products-slides.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
  }

  /* Start Product Quick View FS */
  .productsQuickView .modal-dialog {
    max-width: 100%;
    margin: 0 auto;
  }
  .productsQuickView .modal-content {
    padding: 15px;
  }
  .productsQuickView .modal-content .products-content {
    margin-top: 25px;
  }
  .productsQuickView .modal-content .products-content h3 {
    font-size: 17px;
  }
  .productsQuickView .modal-content .products-content .price {
    font-size: 14px;
  }
  .productsQuickView .modal-content .products-content .products-info li {
    font-size: 14px;
  }
  .productsQuickView .modal-content .products-content .products-color-switch h4 {
    font-size: 14px;
  }
  .productsQuickView .modal-content .products-content .products-size-wrapper h4 {
    font-size: 14px;
  }
  .productsQuickView .modal-content .products-content .products-add-to-cart .input-counter input {
    height: 43px;
    font-size: 16px;
  }
  .productsQuickView .modal-content .products-content .products-add-to-cart .input-counter span {
    line-height: 49px;
  }
  /* End Product Quick View FS */

  .woocommerce ul.products li.product {
    width: 100% !important;
  }
  .single-products-box-two .content .added_to_cart {
    opacity: 1;
    visibility: visible;
    margin-left: 0;
    font-size: 12px;
    left: 31%;
  }
  .promotions-content {
    text-align: center;
  }
  .promotions-content h2 {
    font-size: 24px;
    max-width: 100%;
  }
  .promotions-content p {
    max-width: 100%;
  }
  .promotions-image {
    height: auto;
    background-image: unset !important;
  }
  .promotions-image img {
    display: inline-block;
  }
  .promotions-text {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .promotions-text h1 {
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 0;
  }
  .promotions-text h1 span {
    font-size: 16px;
    margin-top: 10px;
  }
  .promotions-text p {
    font-size: 15px;
  }
  .promotions-text .default-btn {
    margin-top: 0;
  }
  .partner-area-two .section-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .partner-list {
    margin-bottom: -30px;
  }
  .partner-item {
    margin-bottom: 30px;
  }
  .instagram-area .section-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .single-facility-box .icon {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }
  .single-facility-box .icon i {
    top: 40%;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  .single-facility-box h3 {
    font-size: 17px;
    padding-top: 20px;
    margin-top: -20px;
  }
  .customer-service-content h3 {
    font-size: 17px;
  }
  .related.products.products-area.ptb-70 {
    padding-bottom: 0;
  }
  .widget_guto-lite_socials_link ul li a {
    font-size: 14px;
  }
  .widget_buy_now .content {
    padding: 15px;
    max-width: 225px;
  }
  .widget_buy_now .content::before {
    margin: -10px;
  }
  .widget_guto-lite_posts_thumbs .item {
    margin-bottom: 15px;
  }
  .widget_guto-lite_posts_thumbs .item .info .title {
    font-size: 15px;
    margin-bottom: 0;
  }
  .widget_guto-lite_posts_thumbs .item .info .meta li {
    margin-right: 10px;
  }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .top-header-area .container-fluid {
    max-width: 540px;
  }
  .admin-bar .navbar-area.is-sticky {
    top: 46px;
  }
  .main-banner-area .container {
    max-width: 540px;
  }
  .main-banner-area-two .container-fluid {
    max-width: 540px;
  }

  /* Start Main Banner Area FS */
  .main-banner-area .container-fluid {
    max-width: 540px;
  }
  /* End Main Banner Area FS */

  .admin-bar .navbar-area.is-sticky {
    top: 32 !important;
  }
  .single-team-box .image .social {
    right: 18px;
    bottom: 18px;
  }
  .partner-inner-area {
    padding-left: 25px;
    padding-right: 25px;
  }
  .subscribe-inner-area {
    padding-left: 25px;
    padding-right: 25px;
  }
  .subscribe-inner-area-two {
    padding-left: 25px;
    padding-right: 25px;
  }
  .blog-details-desc .article-footer {
    text-align: left;
  }
  .blog-details-desc .article-footer .article-tags {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .blog-details-desc .article-footer .article-share {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    margin-top: 0;
  }
  .blog-details-desc .article-footer .article-share .social {
    text-align: right;
  }
  .comments-area .comment-body {
    padding-left: 70px;
  }
  .comments-area .comment-author .avatar {
    left: -70px;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    position: absolute;
  }
  .footer-bottom-area {
    text-align: left;
  }
  .footer-bottom-area ul {
    margin-top: 0;
    text-align: right;
  }

  /* Start Product Quick View FS */
  .productsQuickView .modal-dialog {
    max-width: 500px;
  }
  .productsQuickView .modal-content {
    padding: 30px;
  }
  /* End Product Quick View FS */

}

/* Min width 576px to Max width 600px */
@media only screen and (min-width: 576px) and (max-width: 600px) {
  .admin-bar .navbar-area.is-sticky {
    top: 0;
  }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .ptb-100 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pt-100 {
    padding-top: 80px;
  }
  .pb-100 {
    padding-bottom: 80px;
  }
  .ptb-70 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 50px;
  }
  .pb-70 {
    padding-bottom: 50px;
  }
  .default-btn {
    font-size: 14px;
  }
  .default-btn i {
    font-size: 18px;
  }
  .section-title {
    margin-bottom: 45px;
    max-width: 615px;
  }
  .section-title .sub-title {
    font-size: 13px;
  }
  .section-title h2 {
    font-size: 30px;
  }
  .top-header-area .container-fluid {
    max-width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-banner-area {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .main-banner-area .container {
    max-width: 720px;
  }
  .main-banner-content {
    padding-right: 0;
    text-align: center;
  }
  .main-banner-content .sub-title {
    font-size: 13px;
  }
  .main-banner-content h1 {
    font-size: 42px;
    margin-bottom: 15px;
  }
  .main-banner-content p {
    margin-left: auto;
    margin-right: auto;
  }
  .main-banner-content .default-btn {
    margin-top: 5px;
  }
  .main-banner-image {
    margin-left: 0;
    margin-top: 35px;
  }
  .shape1, .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8, .shape9, .shape10 {
    display: none;
  }
  .main-banner-area-two {
    padding-top: 80px;
  }
  .main-banner-area-two .container-fluid {
    max-width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-banner-content-two {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
  .main-banner-content-two .sub-title {
    font-size: 13px;
  }
  .main-banner-content-two h1 {
    font-size: 42px;
    margin-bottom: 15px;
  }
  .main-banner-content-two p {
    margin-left: auto;
    margin-right: auto;
  }
  .main-banner-content-two .default-btn {
    margin-top: 5px;
  }
  .main-banner-image-two {
    padding-left: 0;
    margin-top: 35px;
  }

  /* Start Main Banner Area FS */
  .main-banner-area {
    padding-top: 100px;
    padding-bottom: 180px;
  }
  .main-banner-area .container-fluid {
    max-width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-banner-content-fs {
    max-width: 720px;
    padding: 50px;
    border-left-width: 5px;
  }
  .main-banner-content-fs .sub-title {
    font-size: 13px;
  }
  .main-banner-content-fs h1 {
    font-size: 42px;
    margin-bottom: 15px;
  }
  .main-banner-content-fs .default-btn {
    margin-top: 5px;
  }
  .home-slides.owl-theme .owl-nav {
    opacity: 1;
    visibility: visible;
    top: auto;
    bottom: 100px;
    -webkit-transform: unset;
            transform: unset;
    right: 0;
    left: 0;
  }
  .home-slides.owl-theme .owl-nav [class*=owl-] {
    width: 35px;
    height: 35px;
    margin: 0 5px;
    font-size: 20px;
    display: inline-block;
  }
  .home-slides.owl-theme .owl-nav [class*=owl-] i {
    margin-top: 0;
  }
  /* End Main Banner Area FS */
  
  /* Start Single Category Area FS */
  .single-categories-box-fs .content {
    left: 20px;
  }
  .single-categories-box-fs .content h3 {
    font-size: 22px;
  }
  .single-categories-box-fs .content span {
    font-size: 15px;
  }
  .single-categories-box-fs .content .default-btn {
    margin-top: 15px;
  }
  .single-categories-box-fs .default-btn {
    padding: 12px 20px 11px 35px;
  }
  .single-categories-box-fs .default-btn i {
    left: 10px;
  }
  /* End Single Category Area FS */

  /* Start Single Blog Post FS */
  .single-blog-post-fs .content h3 {
    font-size: 20px;
  }
  /* End Single Blog Post FS */

  /* Start Promotion Area FS */
  .promotions-content-fs {
    text-align: center;
    margin-bottom: 30px;
  }
  .promotions-content-fs h2 {
    font-size: 40px;
  }
  .promotions-content-fs span {
    font-size: 20px;
  }
  /* End Promotion Area FS */

  /* Start Products Grid FS */
  .single-products-box .content h3 {
    margin-bottom: 12px;
  }
  .single-products-item .content {
    left: 40%;
    bottom: 120px;
  }
  .single-categories-item .content {
    left: 10px;
  }
  .single-products-item .content h3 {
    font-size: 22px;
  }
  .single-products-item .content span {
    font-size: 15px;
  }
  .single-products-item .content .default-btn {
    margin-top: 15px;
  }
  .products-area .pagination-area {
    margin-top: 15px;
  }
  .single-products-box .products-image .default-btn {
    left: 15px;
    top: auto;
    -webkit-transform: unset;
            transform: unset;
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    bottom: 15px;
  }
  .single-products-box .products-content h3 {
    font-size: 20px;
  }
  /* End Products Grid FS */

  /* Start Rooms Area FS */
  .rooms-content h1 {
    font-size: 28px;
  }
  /* End Rooms Area 

  /* Start Page Title Area FS */
  .page-title-content-fs {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .page-title-content-fs h2 {
    font-size: 35px;
  }
  .page-title-content-fs h2::before {
    right: 0;
    margin: 0 auto;
  }
  /* End Page Title Area FS */

  .single-categories-box h3 {
    top: 15%;
    left: 20px;
    font-size: 20px;
  }
  .single-categories-box .default-btn {
    left: 20px;
    bottom: 20px;
  }
  .single-featured-services-box {
    padding: 30px 20px;
  }
  .single-featured-services-box h3 {
    font-size: 20px;
  }
  .about-image {
    padding-right: 0;
  }
  .about-content {
    padding-left: 0;
    text-align: center;
    margin-top: 30px;
  }
  .about-content .sub-title {
    font-size: 13px;
  }
  .about-content h2 {
    font-size: 30px;
  }
  .about-content h3 {
    font-size: 20px;
  }
  .single-testimonials-item .clients-info {
    margin-top: 25px;
  }
  .testimonials-slides .single-testimonials-item {
    max-width: 100%;
  }
  .testimonials-slides.owl-theme .owl-nav [class*=owl-] {
    top: auto;
    bottom: 9px;
    -webkit-transform: unset;
            transform: unset;
  }
  .services-area {
    padding-bottom: 30px;
  }
  .single-services-box {
    padding-left: 0;
    text-align: center;
  }
  .single-services-box .icon {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .single-services-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .video-area {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .video-content h2 {
    font-size: 30px;
  }
  .video-content .video-btn {
    width: 70px;
    height: 70px;
    font-size: 55px;
  }
  .single-working-process-box {
    padding-left: 0;
    text-align: center;
  }
  .single-working-process-box .number {
    right: 0;
    top: auto;
    bottom: 0;
  }
  .single-working-process-box .icon {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .single-working-process-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .why-choose-content {
    padding-right: 0;
    text-align: center;
  }
  .why-choose-content .sub-title {
    font-size: 13px;
  }
  .why-choose-content h2 {
    font-size: 30px;
  }
  .why-choose-content h3 {
    font-size: 20px;
    padding-left: 0;
  }
  .why-choose-content h3::before {
    display: none;
  }
  .why-choose-image {
    padding-left: 0;
    margin-top: 30px;
  }
  .single-team-box .image .social {
    right: 20px;
    bottom: 35px;
  }
  .single-team-box .content h3 {
    font-size: 20px;
  }
  .partner-inner-area {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .partner-inner-area .section-title {
    text-align: center;
    margin-bottom: 40px;
  }
  .single-blog-post .content h3 {
    font-size: 20px;
  }
  .single-blog-post .content .link-btn {
    position: relative;
    bottom: 0 !important;
    opacity: 1;
    visibility: visible;
    margin-top: 12px;
  }
  .subscribe-inner-area {
    padding-left: 50px;
    padding-right: 50px;
  }
  .subscribe-inner-area form {
    max-width: 100%;
    padding-right: 200px;
  }
  .subscribe-inner-area .sub-title {
    font-size: 13px;
  }
  .subscribe-inner-area h2 {
    font-size: 30px;
  }
  .subscribe-shape1 img {
    width: 200px;
  }
  .subscribe-shape2 img {
    width: 220px;
  }
  .subscribe-inner-area-two {
    padding-left: 50px;
    padding-right: 50px;
  }
  .subscribe-inner-area-two form {
    max-width: 100%;
    padding-right: 200px;
  }
  .subscribe-inner-area-two .sub-title {
    font-size: 13px;
  }
  .subscribe-inner-area-two h2 {
    font-size: 30px;
  }
  .page-title-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .page-title-content h2 {
    font-size: 35px;
  }
  .page-title-content h2::before {
    right: 0;
    margin: 0 auto;
  }
  .elementor-widget-Overview_Area {
    margin-bottom: 30px !important;
  }
  .services-details-overview {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 40px;
    margin-bottom: 30px;
  }
  .services-details-overview:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  .services-details-overview .services-details-desc {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .services-details-overview .services-details-desc h2 {
    font-size: 22px;
  }
  .services-details-overview .services-details-desc .features-text h3 {
    font-size: 17px;
    padding-left: 25px;
  }
  .services-details-overview .services-details-desc .features-text h3 i {
    left: -5px;
    top: -5px;
    font-size: 25px;
  }
  .services-details-overview .services-details-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 30px;
  }
  .single-projects-box .projects-content h3 {
    font-size: 20px;
  }
  .projects-details-desc h2 {
    font-size: 22px;
  }
  .projects-details-desc .features-text h3 {
    font-size: 17px;
    padding-left: 25px;
  }
  .projects-details-desc .features-text h3 i {
    left: -5px;
    top: -5px;
    font-size: 25px;
  }
  .projects-details-desc .project-details-info {
    margin-top: 0;
  }
  .projects-details-desc .project-details-info .single-info-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-top: 25px;
  }
  .single-pricing-box .pricing-header h3 {
    font-size: 20px;
  }
  .single-pricing-box .price {
    line-height: 40px;
    font-size: 40px;
  }
  .single-pricing-box .price sub {
    margin: 0 -8px 0 -10px;
  }
  .products-area .pagination-area {
    margin-top: 15px;
  }
  .single-products-box .products-image .default-btn {
    left: 15px;
    position: relative;
    top: auto;
    -webkit-transform: unset;
            transform: unset;
    opacity: 1;
    visibility: visible;
    margin-top: 0 !important;
    bottom: 15px;
  }
  .single-products-box .products-content h3 {
    font-size: 20px !important;
  }
  .billing-details .title {
    font-size: 20px;
  }
  .order-details {
    margin-top: 35px;
  }
  .products-details-desc {
    padding-left: 0;
    margin-top: 30px;
  }
  .products-details-desc h3 {
    font-size: 20px;
  }
  .products-details-tabs .tab-content .tab-pane .products-reviews h3 {
    font-size: 20px;
  }
  .products-details-tabs .tab-content .tab-pane .products-review-comments h3 {
    font-size: 20px;
  }
  .login-form {
    margin-right: 0;
  }
  .login-form h2 {
    font-size: 25px;
  }
  .register-form {
    margin-top: 40px;
    border-top: 1px solid #eeeeee;
    padding-left: 0;
    padding-top: 30px;
  }
  .register-form h2 {
    font-size: 25px;
  }
  .widget-area {
    padding-left: 0;
    margin-top: 40px;
  }
  .widget-area .widget {
    margin-bottom: 30px;
  }
  .widget-area .widget .widget-title {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .blog-details-desc .article-content h3 {
    font-size: 20px;
  }
  .blog-details-desc .article-author .author-profile .author-profile-title h4 {
    font-size: 18px;
  }
  .prev-link-wrapper .prev-title {
    font-size: 16px;
  }
  .next-link-wrapper .next-title {
    font-size: 16px;
  }
  .contact-form {
    padding: 30px;
    margin-right: 0;
    margin-bottom: 55px;
  }
  .footer-area {
    padding-top: 80px;
  }
  .single-footer-widget h3 {
    font-size: 20px;
  }
  .footer-bottom-area {
    margin-top: 50px;
  }

  /* Start Product Quick View FS */
  .productsQuickView .modal-dialog {
    max-width: 720px;
  }
  .productsQuickView .modal-content {
    padding: 30px 20px;
  }
  /* End Product Quick View FS */

  .single-products-box .products-image .default-btn {
    left: 0;
    right: 0;
  }
  .single-products-box .products-image .added.default-btn {
    margin-bottom: 0;
  }
  .single-products-box .products-image .added_to_cart {
    padding-top: 0;
  }
  .single-products-box .products-content {
    margin-top: 0;
  }
  .single-products-box .products-content h3 {
    padding: 0 !important;
  }
  .single-products-box li.product {
    margin: 0;
  }
  .single-products-box li.product .price {
    margin: 0 !important;
  }
  .single-products-box-two .content h3 {
    margin-bottom: 12px;
  }
  .products-slides.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
  }
  .single-products-box-two .products-image .default-btn {
    left: 15px;
    top: auto;
    -webkit-transform: unset;
            transform: unset;
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    bottom: 15px;
  }
  .single-products-box-two .products-content h3 {
    font-size: 20px;
  }
  .promotions-area .col-lg-4:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .promotions-area .col-lg-4:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .promotions-area .col-lg-4:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .promotions-content h2 {
    font-size: 30px;
  }
  .promotions-image {
    height: auto;
    background-image: unset !important;
  }
  .promotions-image img {
    display: inline-block;
  }
  .promotions-text {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .promotions-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: -5px;
  }
  .promotions-text h1 span {
    font-size: 17px;
    margin-top: 10px;
  }
  .promotions-text p {
    font-size: 17px;
  }
  .promotions-text .default-btn {
    margin-top: 0;
  }
  .partner-area-two {
    text-align: center;
  }
  .partner-area-two .section-title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
  }
  .instagram-area .section-title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
  }
  .single-facility-box h3 {
    font-size: 20px;
  }
  .customer-service-content h3 {
    font-size: 20px;
  }
  .single-footer-widget.pl-5, .single-footer-widget.px-5 {
    padding-left: 0 !important;
  }
  .sidebar {
    padding-top: 30px;
  }
  .admin-bar .navbar-area.is-sticky {
    top: 46px;
  }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .guto-lite-responsive-nav .guto-lite-responsive-menu {
    margin-top: 0;
  }
  .section-title h2 {
    font-size: 35px;
  }
  .top-header-area .container-fluid {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .single-categories-box h3 {
    top: 15%;
    left: 15px;
    font-size: 20px;
  }
  .single-categories-box .default-btn {
    left: 20px;
    bottom: 20px;
  }
  .navbar-area {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .guto-lite-mobile-menu {
    position: relative;
    margin-top: -3px;
  }
  .guto-lite-responsive-nav .others-option {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute;
    right: 60px;
    top: -10px;
  }
  .others-option-for-responsive {
    display: none;
  }
  .main-banner-area .container {
    max-width: 960px;
  }
  .shape1, .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8, .shape9, .shape10 {
    display: none;
  }
  .main-banner-content-two {
    padding-right: 0;
  }
  .main-banner-content-two h1 {
    font-size: 50px;
  }
  .main-banner-content-two p {
    max-width: 100%;
  }
  .main-banner-image-two {
    margin-left: 0;
  }
  .main-banner-image-two img:nth-child(2) {
    width: 250px;
  }
  .main-banner-area-two {
    padding-top: 90px;
  }
  .main-banner-area-two .container-fluid {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-banner-content-two {
    max-width: 560px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 30px;
  }
  .main-banner-content-two h1 {
    font-size: 45px;
  }
  .main-banner-content-two p {
    max-width: 100%;
  }

  /* Start Main Banner Area FS */
  .main-banner-area {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .main-banner-area .container-fluid {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-banner-content-fs {
    max-width: 700px;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 75px;
    padding-right: 75px;
  }
  .main-banner-content-fs h1 {
    font-size: 45px;
  }
  .main-banner-content-fs p {
    max-width: 100%;
  }
  /* End Main Banner Area FS */
  
   /* Start Single Category Area FS */
  .single-categories-box-fs .content {
    left: 30px;
  }
  .single-categories-box-fs .content h3 {
    font-size: 25px;
  }
  /* End Single Category Area FS */

  /* Start Promotion Area FS */
  .promotions-content h2 {
    font-size: 45px;
  }
  /* End Promotion Area FS */

  /* Start Products Grid FS */
  .single-products-box .content .price span {
    font-size: 15px;
  }
  /* End Products Grid FS */

  .single-featured-services-box {
    padding: 40px 25px;
  }
  .about-image {
    padding-right: 0;
  }
  .about-content {
    padding-left: 0;
  }
  .about-content h2 {
    font-size: 35px;
  }
  .why-choose-content {
    padding-right: 0;
  }
  .why-choose-image {
    padding-left: 0;
  }
  .single-team-box .image .social {
    right: 30px;
    bottom: -10px;
  }
  .partner-inner-area {
    padding-left: 40px;
    padding-right: 40px;
  }
  .page-title-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .page-title-content h2::before {
    right: 0;
    margin: 0 auto;
  }
  .single-funfacts-box {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .services-details-overview .services-details-desc h2 {
    font-size: 25px;
  }
  .projects-details-desc h2 {
    font-size: 25px;
  }
  .products-details-desc {
    padding-left: 0;
  }
  .widget-area {
    padding-left: 0;
  }
  .widget-area .widget_buy_now .content {
    max-width: 220px;
  }
  .contact-form {
    padding: 30px;
    margin-right: 10px;
  }
  .single-products-box .content .price span {
    font-size: 15px;
  }
  .products-slides.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
  }
  .promotions-content h2 {
    font-size: 35px;
  }
  .widget_buy_now .content {
    max-width: 220px;
  }
}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {
  .container {
    max-width: 1140px;
  }
  .top-header-area .container-fluid {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .guto-lite-nav .container-fluid {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-banner-area .container {
    max-width: 1140px;
  }
  .main-banner-content {
    padding-right: 0;
  }
  .main-banner-image {
    margin-left: 0;
  }
  .shape1 {
    top: 7%;
    left: 3%;
  }
  .main-banner-area-two {
    padding-top: 60px;
  }
  .main-banner-area-two .container-fluid {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-banner-image-two {
    padding-left: 30px;
  }
  .main-banner-content-two {
    max-width: 620px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 50px;
  }
  .main-banner-content-two h1 {
    font-size: 55px;
  }

  /* Start Main Banner Area FS */
  .main-banner-area .container-fluid {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* End Main Banner Area FS */
  
  /* Start Rooms Area FS */
  .rooms-content h1 {
    font-size: 30px;
  }
  /* End Rooms Area FS */

  .about-image {
    padding-right: 0;
  }
  .about-content {
    padding-left: 0;
  }
  .why-choose-content {
    padding-right: 0;
  }
  .why-choose-image {
    padding-left: 0;
  }
}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {
  .top-header-area .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
  }
  .guto-lite-nav .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
  }
  .shape1 {
    left: 10%;
  }
  .shape7 {
    right: 12.5%;
  }
  .shape2 {
    left: 60px;
    bottom: 60px;
  }
  .shape9 {
    left: 12%;
  }
  .shape10 {
    right: 10%;
    bottom: 30%;
  }
  .shape8 {
    bottom: 15%;
    left: 6%;
  }
  .why-choose-area .shape10 {
    left: 8%;
    right: auto;
    bottom: 25%;
  }
  .why-choose-area .shape9 {
    right: 12%;
    left: auto;
  }
  .why-choose-area .shape8 {
    right: 6%;
    left: auto;
  }
  .circle-map {
    right: 18%;
  }
  .page-title-area .shape9 {
    left: -11.5%;
    top: -30%;
  }
  .main-banner-area-two .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
  }

  /* Start Main Banner Area FS */
  .main-banner-area .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
  }
  .home-slides.owl-theme .owl-nav {
    right: 100px;
  }
  /* End Main Banner Area FS */

}