/*
* Guto Lite theme Woocommerce Style
*/
:root {
  --mainColor: #4237dc;
  --optionalColor: #e82b2b;
  --paragraphColor: #2e3345;
  --whiteColor: #ffffff;
  --blackColor: #030f2b;
  --fontSize: 15px;
  --transition: .5s;
}

.btn-primary {
  display: inline-block;
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border: none;
  color: var(--whiteColor);
  border-radius: 5px;
  padding: 11px 30px 11px 30px;
  position: relative;
  font-weight: 700;
  font-size: var(--fontSize);
}

.btn-primary:hover {
  color: var(--whiteColor);
}

.woocommerce .nice-select.open .list {
  width: 100%;
}

.woocommerce .form-control:focus {
  border: none !important;
}

.woocommerce .woocommerce-breadcrumb {
  display: block;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
}

.woocommerce .woocommerce-breadcrumb a {
  color: #ffffff;
}

.woocommerce .products-image .default-btn {
  display: inline-block !important;
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border: none !important;
  color: var(--whiteColor) !important;
  border-radius: 5px !important;
  padding: 11px 26px 11px 55px !important;
  font-weight: 700 !important;
  font-size: var(--fontSize);
  margin-top: 0 !important;
  text-transform: capitalize;
}

.woocommerce .products-image .added.default-btn {
  padding: 11px 30px 11px 30px !important;
}

.woocommerce .products-image .added.default-btn i {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.woocommerce .pagination-area {
  margin-top: 0;
}

.woocommerce ul.products {
  margin-bottom: 0 !important;
}

.woocommerce ul.products li.product {
  margin-bottom: 5px;
}

.woocommerce ul.products li.product a img {
  margin: 0 !important;
  border: 1px solid #eeeeee;
}

.woocommerce ul.products li.product .products-content h3 {
  margin: 0 !important;
  padding: 0 !important;
}

.woocommerce ul.products li.product .products-content h3 {
  margin: 0 !important;
  padding: 0 !important;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
  margin-bottom: 10px;
  font-size: 18.5px;
}

/*================================================
Products Area CSS
=================================================*/
.single-products-box {
  position: relative;
  margin-bottom: 30px;
}

.single-products-box .products-image {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.single-products-box .products-image .main-image {
  position: relative;
  display: block;
}

.single-products-box .products-image .main-image img {
  -webkit-transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
  transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
}

.single-products-box .products-image .sale-tag {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: red;
  color: var(--whiteColor);
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  z-index: 2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.single-products-box .products-image .new-tag {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: green;
  color: var(--whiteColor);
  text-align: center;
  z-index: 2;
  padding: 1px 7px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.single-products-box .products-image .default-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
}

.single-products-box .products-content {
  margin-top: 25px;
  position: relative;
}

.single-products-box .products-content h3 {
  margin-bottom: 0 !important;
  font-size: 22px !important;
}

.single-products-box .products-content .price {
  margin-top: 14px;
  color: #212529 !important;
  font-size: 15px !important;
  font-weight: 700 !important;
}

.single-products-box .products-content .price .old-price {
  text-decoration: line-through;
  color: #999999;
  font-weight: 600;
  margin-left: 2px;
}

.single-products-box:hover .products-image .main-image img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) translateZ(0);
          transform: scale3d(1.1, 1.1, 1.1) translateZ(0);
}

.single-products-box:hover .products-image .default-btn {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}

.single-products-box-two {
  margin-bottom: 30px;
}

.single-products-box-two .image {
  position: relative;
  overflow: hidden;
}

.single-products-box-two .image .quick-view-btn {
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 0;
  bottom: -45px;
  opacity: 0;
  visibility: hidden;
  display: block;
  right: 0;
  background-color: rgba(0, 0, 0, 0.64);
  text-align: center;
  color: var(--whiteColor);
  padding: 9px 15px 10px;
}

.single-products-box-two .image .quick-view-btn i {
  line-height: 1;
  font-size: 22px;
  position: relative;
  top: 4px;
  margin-right: 3px;
}

.single-products-box-two .image .quick-view-btn:hover {
  background-color: var(--blackColor);
  color: var(--whiteColor);
}

.single-products-box-two .content {
  margin-top: 25px;
  position: relative;
}

.single-products-box-two .content h3 {
  font-size: 18.5px;
  margin-bottom: 10px;
}

.single-products-box-two .content h3 a {
  display: inline-block;
}

.single-products-box-two .content .price {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.single-products-box-two .content .price span {
  color: #666666;
  font-weight: 600;
  font-size: 16px;
}

.single-products-box-two .content .price .old-price {
  text-decoration: line-through;
  color: #999999;
}

.single-products-box-two .content .add-to-wishlist-btn {
  position: absolute;
  right: 0;
  top: 0;
  color: #6a6a6a;
  display: inline-block;
  line-height: 1;
  font-size: 20px;
}

.single-products-box-two .content .add-to-cart-btn, .single-products-box-two .content .added_to_cart {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 0 !important;
  padding: 0 !important;
  padding-left: 25px !important;
  opacity: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  visibility: hidden;
  background-color: transparent !important;
  font-weight: 700;
  font-size: 16px;
}

.single-products-box-two .content .add-to-cart-btn i, .single-products-box-two .content .added_to_cart i {
  position: absolute;
  left: 0;
  top: -3px;
  font-size: 20px;
}

.single-products-box-two:hover .image .quick-view-btn {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

.single-products-box-two:hover .content .price {
  opacity: 0;
  visibility: hidden;
}

.single-products-box-two:hover .content .add-to-cart-btn, .single-products-box-two:hover .content .added_to_cart {
  opacity: 1;
  visibility: visible;
  margin-left: 0;
}

.single-products-box-two:hover .content .added_to_cart {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.single-products-box-two:hover .content .add-to-cart-btn.added {
  display: none;
}

.products-slides.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.products-slides.owl-theme .owl-dots {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-slides.owl-theme .owl-dots .owl-dot {
  display: block;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.products-slides.owl-theme .owl-dots .owl-dot span {
  margin: 0;
  display: block;
  background-color: #dbdbdb;
  border-radius: 0;
  height: 6px;
  width: 100%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.products-slides.owl-theme .owl-dots .owl-dot.active span, .products-slides.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #8c8c8c;
}

/*================================================
Product details style
=================================================*/
.pswp {
  z-index: 100005;
}

.products-details-desc .products-details .default-btn {
  margin-left: 10px;
}

.products-details-desc .products-share {
  margin-top: 30px;
}

.products-details-desc .products-share .social {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.products-details-desc .products-share .social li {
  display: inline-block;
}

.products-details-desc .products-share .social li span {
  display: inline-block;
  margin-right: 3px;
  font-weight: 700;
  position: relative;
  top: -2px;
}

.products-details-desc .products-share .social li a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 34px;
  border-radius: 50%;
  color: var(--whiteColor);
  border: 1px solid;
  text-align: center;
  font-size: 17px;
  margin-left: 2px;
}

.products-details-desc .products-share .social li a:hover, .products-details-desc .products-share .social li a:focus {
  background-color: transparent;
}

.products-details-desc .products-share .social li a.facebook {
  background-color: #3b5998;
  border-color: #3b5998;
  color: var(--whiteColor);
}

.products-details-desc .products-share .social li a.facebook:hover, .products-details-desc .products-share .social li a.facebook:focus {
  color: #3b5998;
  background-color: transparent;
}

.products-details-desc .products-share .social li a.twitter {
  background-color: #1da1f2;
  border-color: #1da1f2;
  color: var(--whiteColor);
}

.products-details-desc .products-share .social li a.twitter:hover, .products-details-desc .products-share .social li a.twitter:focus {
  color: #1da1f2;
  background-color: transparent;
}

.products-details-desc .products-share .social li a.linkedin {
  background-color: #007bb5;
  border-color: #007bb5;
  color: var(--whiteColor);
}

.products-details-desc .products-share .social li a.linkedin:hover, .products-details-desc .products-share .social li a.linkedin:focus {
  color: #007bb5;
  background-color: transparent;
}

.products-details-desc .products-share .social li a.instagram {
  background-color: #c13584;
  border-color: #c13584;
  color: var(--whiteColor);
}

.products-details-desc .products-share .social li a.instagram:hover, .products-details-desc .products-share .social li a.instagram:focus {
  color: #c13584;
  background-color: transparent;
}

.products-details-desc .products-share .social li a.whatsapp {
  background-color: #44c153;
  border-color: #44c153;
  color: #ffffff;
}

.products-details-desc .products-share .social li a.email {
  background-color: #d65348;
  border-color: #d65348;
  color: #ffffff;
}

.products-details-desc .products-share .social li a.copy {
  background-color: #221638;
  border-color: #221638;
  color: #ffffff;
}

.products_details {
  /* You May Also Like Products */
  /* End You May Also Like Products */
}

.products_details .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image a {
  display: block;
}

.products_details div.product {
  /* Woocommerce tabs */
  /* End Woocommerce tabs */
}

.products_details div.product span.sale-btn {
  position: absolute;
  text-align: center;
  top: 15px;
  left: 15px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  z-index: 2;
  font-size: 13px;
}

.products_details div.product .product_title {
  display: block;
  font-size: 23px;
  border-bottom: none;
  font-weight: 700;
  position: relative;
  margin-bottom: 15px;
}

.products_details div.product p.price, .products_details div.product span.price {
  margin-bottom: 5px;
  font-size: var(--fontSize);
  font-weight: 700;
}

.products_details div.product p.price del, .products_details div.product span.price del {
  margin-right: 5px;
  color: red;
}

.products_details div.product p.price ins, .products_details div.product span.price ins {
  text-decoration: none;
}

.products_details div.product .woocommerce-product-rating {
  margin-bottom: 5px;
}

.products_details div.product .woocommerce-product-rating .star-rating {
  font-size: 14px;
  color: #eac11d;
}

.products_details div.product .woocommerce-product-rating a.woocommerce-review-link {
  color: #62618d;
  font-size: 15px;
}

.products_details div.product .woocommerce-product-details__short-description p {
  font-size: 15px;
}

.products_details div.product form.cart {
  margin-top: 15px;
  margin-bottom: 0;
}

.products_details div.product form.cart a.button.alt, .products_details div.product form.cart button.button.alt, .products_details div.product form.cart input.button.alt {
  font-weight: normal;
  font-size: 13px;
  height: 40px;
  border-radius: 0;
}

.products_details div.product form.cart a.button.alt:hover, .products_details div.product form.cart button.button.alt:hover, .products_details div.product form.cart input.button.alt:hover {
  background-color: #000;
  color: #fff;
}

.products_details div.product form.cart table {
  margin-bottom: 15px;
  border-bottom: none;
}

.products_details div.product form.cart table tr del {
  opacity: .50;
  margin-right: 3px;
}

.products_details div.product form.cart .variations {
  margin-bottom: 0;
  border-bottom: none;
}

.products_details div.product form.cart .variations select {
  border: 1px solid #eee;
  height: 35px;
  font-size: 14px;
  padding: 5px 10px;
}

.products_details div.product form.cart .variations label {
  text-transform: capitalize;
}

.products_details div.product form.cart .variations th, .products_details div.product form.cart .variations td {
  padding: 5px 0;
}

.products_details div.product form.cart .variations th span.current, .products_details div.product form.cart .variations td span.current {
  margin: 0;
  font-size: 14px;
}

.products_details div.product form.cart .single_variation_wrap p {
  font-size: 15px;
}

.products_details div.product form.cart .single_variation_wrap .woocommerce-variation-price {
  margin-bottom: 10px;
}

.products_details div.product form.cart .group_table td {
  vertical-align: middle;
}

.products_details div.product form.cart .group_table td label {
  margin: 0;
  font-size: 14px;
}

.products_details div.product form.cart .group_table td:first-child {
  width: 130px;
  text-align: center;
}

.products_details div.product form.cart .group_table td .qty {
  width: 100%;
}

.products_details div.product form.cart .group_table td .button {
  font-weight: normal;
  font-size: 13px;
  border-radius: 0;
  color: #fff;
  padding: 12px 15px;
  width: 100%;
}

.products_details div.product form.cart .group_table td .button:hover {
  background-color: #000;
  color: #fff;
}

.products_details div.product .product_meta {
  margin-top: 20px;
  margin-bottom: 25px;
}

.products_details div.product .product_meta span.sku_wrapper {
  display: inline-block;
  font-size: 15px;
  color: #272b2b;
  margin-bottom: 5px;
  font-weight: bold;
}

.products_details div.product .product_meta span.sku_wrapper .sku {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

.products_details div.product .product_meta span.posted_in, .products_details div.product .product_meta span.tagged_as {
  margin-top: 5px;
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: #272b2b;
  margin-bottom: 5px;
}

.products_details div.product .product_meta span.posted_in a, .products_details div.product .product_meta span.tagged_as a {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #666666;
  margin-left: 5px;
  display: inline-block;
  text-transform: capitalize;
}

.products_details div.product .in-stock {
  font-weight: bold !important;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #272b2b;
  margin-top: 19px;
}

.products_details div.product .woocommerce-tabs {
  padding-top: 10px;
}

.products_details div.product .woocommerce-tabs ul#tabs {
  text-align: center;
  padding-left: 0;
  margin-bottom: 40px;
  list-style-type: none;
  border-bottom: 1px solid #dee2e6;
  display: block;
  overflow: unset;
}

.products_details div.product .woocommerce-tabs ul#tabs .nav-item {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-bottom: 0;
  margin-top: 0;
  border-radius: 0;
}

.products_details div.product .woocommerce-tabs ul#tabs .nav-item .nav-link {
  color: #cccccc;
  border: none;
  border-bottom: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 800;
}

.products_details div.product .woocommerce-tabs ul#tabs .nav-item .nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  bottom: -2px;
  background-color: #030f2b;
}

.products_details div.product .woocommerce-tabs ul#tabs .nav-item .nav-link:hover, .products_details div.product .woocommerce-tabs ul#tabs .nav-item .nav-link.active {
  color: #030f2b;
}

.products_details div.product .woocommerce-tabs ul#tabs .nav-item .nav-link:hover::before, .products_details div.product .woocommerce-tabs ul#tabs .nav-item .nav-link.active::before {
  width: 100%;
}

.products_details div.product .woocommerce-tabs ul#tabs .nav-item::before, .products_details div.product .woocommerce-tabs ul#tabs .nav-item::after {
  display: none !important;
}

.products_details div.product .woocommerce-tabs ul#tabs .nav-item.active .nav-link {
  color: #030f2b;
}

.products_details div.product .woocommerce-tabs ul#tabs .nav-item.active .nav-link::before {
  width: 100%;
}

.products_details div.product .woocommerce-tabs ul#tabs::before {
  display: none;
}

.products_details div.product .woocommerce-tabs .panel {
  margin: 0;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 25px;
}

.products_details div.product .woocommerce-tabs .panel h1, .products_details div.product .woocommerce-tabs .panel h2, .products_details div.product .woocommerce-tabs .panel h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.products_details div.product .woocommerce-tabs .panel h4, .products_details div.product .woocommerce-tabs .panel h5, .products_details div.product .woocommerce-tabs .panel h6 {
  font-size: 17px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.products_details div.product .woocommerce-tabs .panel p {
  font-size: 15px;
  margin-bottom: 10px;
}

.products_details div.product .woocommerce-tabs .panel p:last-child {
  margin-bottom: 0;
}

.products_details div.product .woocommerce-tabs .panel table.shop_attributes {
  margin-bottom: 0;
  margin-top: 15px;
}

.products_details div.product .woocommerce-tabs .panel table.shop_attributes td, .products_details div.product .woocommerce-tabs .panel table.shop_attributes th {
  border: 1px solid #eee !important;
  padding: 10px 15px;
  text-transform: capitalize;
}

.products_details div.product .woocommerce-tabs .panel .products-reviews #comments {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  border: none;
  background-color: transparent;
}

.products_details div.product .woocommerce-tabs .panel .products-reviews #comments .woocommerce-Reviews-title {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.products_details div.product .woocommerce-tabs .panel .products-reviews #comments p.woocommerce-noreviews {
  margin-bottom: 10px;
}

.products_details div.product .woocommerce-tabs .panel .products-reviews #comments ol.commentlist {
  padding: 0;
  margin-top: 15px !important;
}

.products_details div.product .woocommerce-tabs .panel .products-reviews #comments ol.commentlist li {
  margin-bottom: 15px !important;
}

.products_details div.product .woocommerce-tabs .panel .products-reviews #comments p.meta {
  margin-bottom: 5px !important;
}

.products_details div.product .woocommerce-tabs .panel .products-reviews #comments .woocommerce-review__author {
  color: #222222;
}

.products_details div.product .woocommerce-tabs .panel .products-reviews #comments .star-rating {
  font-size: 14px;
  color: #ffba0a;
}

.products_details div.product .woocommerce-tabs .panel .products-reviews #comments .description p {
  font-size: 15px;
  margin-bottom: 12px !important;
}

.products_details div.product .woocommerce-tabs .panel .comment-reply-title {
  font-size: 15px;
  font-weight: normal;
  border-bottom: none;
  display: block;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.products_details div.product .woocommerce-tabs .panel .comment-reply-title::before {
  display: none;
}

.products_details div.product .woocommerce-tabs .panel .comment-form-rating label {
  margin-bottom: 5px;
}

.products_details div.product .woocommerce-tabs .panel .comment-form-rating p.stars {
  display: block;
}

.products_details div.product .woocommerce-tabs .panel .comment-form-rating p.stars a {
  color: #ffba0a;
}

.products_details div.product .woocommerce-tabs .panel .comment-form-rating .nice-select {
  margin-bottom: 20px;
  border-radius: 0;
}

.products_details div.product .woocommerce-tabs .panel #respond textarea#comment {
  padding: 12px 15px;
  font-size: 15px;
}

.products_details div.product .woocommerce-tabs .panel #respond .comment-form-comment textarea {
  margin: 0;
}

.products_details div.product .woocommerce-tabs .panel #respond p.comment-form-comment, .products_details div.product .woocommerce-tabs .panel #respond .comment-form-author, .products_details div.product .woocommerce-tabs .panel #respond .comment-form-email, .products_details div.product .woocommerce-tabs .panel #respond .comment-form-cookies-consent {
  margin-bottom: 20px !important;
}

.products_details div.product .woocommerce-tabs .panel #respond p.form-submit {
  margin: 0 !important;
}

.products_details div.product .woocommerce-tabs .panel #respond input#submit {
  display: inline-block;
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border: none;
  color: var(--whiteColor);
  border-radius: 5px;
  padding: 11px 30px 11px 30px;
  position: relative;
  font-weight: 700;
  font-size: var(--fontSize);
}

.products_details div.product .woocommerce-tabs .panel #respond input#submit:hover {
  background-color: #030f2b;
  color: #fff;
}

.products_details div.product .woocommerce-tabs .panel {
  margin: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  padding: 0;
}

.products_details div.product .woocommerce-tabs .panel h3 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 800;
}

.products_details div.product .woocommerce-tabs .panel p {
  margin-bottom: 15px;
}

.products_details div.product .woocommerce-tabs .panel p:last-child {
  margin-bottom: 0;
}

.products_details div.product .products-details-tabs {
  margin-top: 50px;
}

.products_details div.product .products-details-tabs .nav {
  text-align: center;
  padding-left: 0;
  margin-bottom: 40px;
  list-style-type: none;
  display: block;
}

.products_details div.product .products-details-tabs .nav .nav-item {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.products_details div.product .products-details-tabs .nav .nav-item .nav-link {
  color: #cccccc;
  border: none;
  border-bottom: 1px solid #eeeeee;
  padding: 0;
  background-color: transparent;
  position: relative;
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 800;
}

.products_details div.product .products-details-tabs .nav .nav-item .nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  bottom: -2px;
}

.products_details div.product .products-details-tabs .nav .nav-item .nav-link:hover, .products_details div.product .products-details-tabs .nav .nav-item .nav-link.active {
  color: #030f2b;
}

.products_details div.product .products-details-tabs .nav .nav-item .nav-link:hover::before, .products_details div.product .products-details-tabs .nav .nav-item .nav-link.active::before {
  width: 100%;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane p {
  line-height: 1.8;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane ul {
  padding-left: 0;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 0;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane ul li {
  margin-bottom: 12px;
  position: relative;
  padding-left: 15px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #030f2b;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane ul li:last-child {
  margin-bottom: 0;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews h3 {
  margin-bottom: 0;
  display: inline-block;
  margin-right: 15px;
  font-size: 24px;
  font-weight: 800;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews .rating {
  display: inline-block;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews .rating span {
  font-size: 17px;
  color: #cecfd2;
  margin-right: -2px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews .rating span.checked {
  color: orange;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews .rating-count {
  margin-top: 10px;
  margin-bottom: 20px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews .rating-count span {
  display: block;
  font-size: 14px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews .row {
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews .side {
  float: left;
  width: 9%;
  margin-top: 10px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews .side div {
  font-size: 14px;
  font-weight: 700;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews .middle {
  margin-top: 14px;
  float: left;
  width: 82%;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews .right {
  text-align: right;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews .bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: var(--whiteColor);
  border-radius: 5px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews .bar-5 {
  width: 100%;
  height: 18px;
  background-color: #4CAF50;
  border-radius: 5px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews .bar-4 {
  width: 75%;
  height: 18px;
  background-color: #2196F3;
  border-radius: 5px;
  border-radius: 5px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews .bar-3 {
  width: 50%;
  height: 18px;
  background-color: #00bcd4;
  border-radius: 5px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews .bar-2 {
  width: 25%;
  height: 18px;
  background-color: #ff9800;
  border-radius: 5px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-reviews .bar-1 {
  width: 0;
  height: 18px;
  background-color: #f44336;
  border-radius: 5px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-review-comments {
  margin-top: 40px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-review-comments h3 {
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 800;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review {
  border-bottom: 1px solid #f3f3f3;
  padding: 20px 0 20px 110px;
  position: relative;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review img {
  position: absolute;
  left: 0;
  top: 20px;
  width: 90px;
  height: 90px;
  border-radius: 5px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review .sub-comment {
  margin-bottom: 8px;
  font-weight: 700;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review .review-rating {
  display: block;
  margin-bottom: 8px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review .review-rating .review-stars {
  display: inline-block;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review .review-rating .review-stars i {
  color: #cecfd2;
  font-size: 18px;
  display: inline-block;
  margin-right: -3px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review .review-rating .review-stars i.checked {
  color: orange;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .products-review-comments .user-review .review-rating span {
  color: #030f2b;
  position: relative;
  top: -2px;
  font-weight: 700;
  margin-left: 5px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper {
  margin-top: 30px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 800;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper .comment-notes span {
  color: red;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form {
  margin-top: 20px;
  text-align: center;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .form-group {
  margin-bottom: 25px;
  text-align: left;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .rating {
  text-align: left;
  overflow: hidden;
  max-width: 115px;
  margin-top: -5px;
  margin-bottom: 20px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .rating label {
  float: right;
  position: relative;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .rating label:not(:first-of-type) {
  padding-right: 5px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .rating label:before {
  content: "\2605";
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 27px;
  color: #CCCCCC;
  line-height: 1;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .rating input {
  display: none;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .rating input:checked ~ label:before, .products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .rating:not(:checked) > label:hover:before, .products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .rating:not(:checked) > label:hover ~ label:before {
  color: #f6b500;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent {
  text-align: left;
  margin-bottom: 0;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent [type="checkbox"]:checked, .products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent [type="checkbox"]:not(:checked) {
  display: none;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent [type="checkbox"]:checked + label, .products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent [type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent [type="checkbox"]:checked + label:before, .products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent [type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 19px;
  height: 19px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  background: #f5f5f5;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent [type="checkbox"]:checked + label:after, .products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent [type="checkbox"]:not(:checked) + label:after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 5.5px;
  left: 6px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form .comment-form-cookies-consent [type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form button {
  margin-top: 22px;
  border: none;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  color: var(--whiteColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border-radius: 5px;
  padding: 13px 60px;
  font-weight: 700;
  font-size: 14px;
}

.products_details div.product .products-details-tabs .tab-content .tab-pane .review-form-wrapper form button:hover {
  background-color: #030f2b;
  color: var(--whiteColor);
}

.products_details .up-sells.upsells.products {
  margin-top: 35px;
}

.products_details .up-sells.upsells.products h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

@-webkit-keyframes scaleup {
  from {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleup {
  from {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes starred {
  from {
    color: #f2b01e;
  }
  to {
    color: #f2b01e;
  }
}

@keyframes starred {
  from {
    color: #f2b01e;
  }
  to {
    color: #f2b01e;
  }
}

/*================================================
Cart pages style
=================================================*/
.cart-table .quantity input.input-text.qty.text {
  position: relative;
  top: -1px;
}

.cart-table .quantity .plus {
  position: relative;
  top: -1px;
}

.cart-table .quantity .minus {
  position: relative;
  top: -1px;
}

.cart-table table {
  margin-bottom: 0;
}

.cart-table table thead tr th {
  color: #0d1028;
  border-bottom-width: 0px;
  vertical-align: middle;
  padding: 15px !important;
  text-transform: uppercase;
  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: 700;
  font-size: 14px;
}

.cart-table table tbody tr td {
  vertical-align: middle;
  padding: 10px 12px !important;
  border-color: #eaedff;
  border-left: none;
  border: 0px solid transparent;
  border-right: none;
}

.cart-table table tbody tr td.product-thumbnail a {
  display: block;
}

.cart-table table tbody tr td.product-thumbnail a img {
  width: 70px;
}

.cart-table table tbody tr td.product-name a {
  display: inline-block;
  color: var(--blackColor);
  text-decoration: none;
  font-weight: 600;
}

.cart-table table tbody tr td.product-name span {
  font-weight: 600;
}

.cart-table table tbody tr td.product-subtotal .remove {
  color: red;
  float: right;
  position: relative;
  top: -1px;
}

.cart-table table tbody tr td.product-quantity .form-control {
  background: transparent;
  width: 80px;
}

.cart-table table tbody tr td.product-subtotal {
  overflow: hidden;
}

.cart-table table tbody tr td.product-subtotal span {
  font-weight: 600;
}

.cart-table table .table-bordered td {
  border: 1px solid #dee2e6;
}

.cart-table .quantity .input-text {
  border: 1px solid #eee;
  height: 40px;
  font-size: 15px;
  padding: 5px 10px;
  width: 100px;
}

.cart-table .coupon .form-control {
  width: 150px !important;
  padding: 5px 15px !important;
  height: 48px;
  margin-right: 10px !important;
}

.cart-table a.remove {
  font-size: 17px;
}

.cart-table a.remove:hover {
  background-color: transparent;
  color: red !important;
}

.cart-table a.remove i {
  font-style: inherit;
  font-size: 15px;
}

.table-responsive tr td, .table-responsive tr th {
  border-color: #eaedff;
}

.cart-totals {
  background: #ffffff;
  padding: 40px;
  max-width: 600px;
  width: 100% !important;
  -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  margin: 10px auto 0;
  float: none !important;
}

.cart-totals h3 {
  margin-top: -5px;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 700;
}

.cart-totals ul {
  padding: 0;
  margin: 0 0 25px;
  list-style-type: none;
}

.cart-totals ul li {
  border: 1px solid #eaedff;
  padding: 10px 15px;
  color: #0a0c19;
  font-weight: 600;
  overflow: hidden;
}

.cart-totals ul li:first-child {
  border-bottom: none;
}

.cart-totals ul li:last-child {
  border-top: none;
}

.cart-totals ul li span {
  float: right;
  color: #666666;
  font-weight: normal;
}

.cart-totals .wc-proceed-to-checkout {
  padding-bottom: 0;
}

.cart-totals .wc-proceed-to-checkout .btn {
  color: #fff;
  text-decoration: none;
}

/*================================================
Checkout pages style
=================================================*/
.checkout-area .title {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 700;
}

.checkout-area .select2-container--default .select2-selection--single {
  border: 1px solid #e5e5e5;
  border-radius: 0;
  height: 50px;
}

.checkout-area .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #495057;
  margin-top: 10px;
  padding-left: 15px;
  font-size: 14px;
}

.checkout-area .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 12px;
  right: 10px;
}

.checkout-area table.shop_table td {
  border-top: 0px solid !important;
  border-color: #eaedff;
}

.checkout-area table th {
  border-color: #eaedff;
}

.checkout-area .woocommerce-checkout #payment ul.payment_methods li {
  list-style-type: none;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
  width: 100%;
}

.woocommerce form .password-input, .woocommerce-page form .password-input {
  display: block;
  width: 100%;
}

.woocommerce-cart #payment {
  background: #fff !important;
}

.woocommerce div.product div.images .flex-control-thumbs {
  margin-left: -5px;
  margin-right: -5px;
}

.woocommerce div.product div.images .flex-control-thumbs li {
  padding: 10px 5px 0;
}

.woocommerce table.shop_table td {
  color: #777777;
  font-weight: 600;
}

.woocommerce .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-sizing: 0 !important;
          box-sizing: 0 !important;
  border: none !important;
  -webkit-box-shadow: 0 0 0 1px rgba(202, 202, 202, 0.25);
          box-shadow: 0 0 0 1px rgba(202, 202, 202, 0.25);
}

.woocommerce .pagination-area {
  margin-top: 0;
}

.woocommerce table.shop_table td {
  color: #777777;
  font-weight: 600;
}

.woocommerce .widget_shopping_cart .buttons a {
  font-weight: 500;
  border-radius: 0;
}

.woocommerce .default-btn {
  color: #ffffff !important;
  text-decoration: none !important;
}

.woocommerce table.shop_table {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
  border-collapse: separate;
  border-radius: 5px;
}

.woocommerce form .form-row-first {
  width: 50%;
}

/*================================================
Billing details style
=================================================*/
.billing-details {
  border-radius: 5px;
}

.billing-details .form-row:last-child {
  margin-bottom: 0;
}

.billing-details .form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  line-height: 1 !important;
  color: #777777;
}

.billing-details .form-group label .required {
  color: red;
}

.billing-details .form-group .woocommerce-input-wrapper {
  width: 100%;
  display: block;
}

.billing-details .form-group .form-control {
  background: #fff;
  height: 45px;
  font-size: 15px;
}

.billing-details .form-group select {
  cursor: pointer;
}

.billing-details .form-check {
  margin-bottom: 15px;
}

.billing-details .form-check label {
  font-size: 15px;
  font-weight: 400;
}

.checkout-area .woocommerce-shipping-fields {
  margin-top: 30px;
}

.checkout-area .woocommerce-shipping-fields h3 {
  font-size: 16px;
  margin-top: 0;
}

.checkout-area form .form-row {
  padding: 0;
  margin: 0 0 25px;
}

.checkout-area .shipping_address .form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  line-height: 1 !important;
  color: #000;
}

.checkout-area .shipping_address .form-group .form-control {
  background: #fff;
  height: 45px;
  font-size: 15px;
}

.checkout-area .shipping_address .form-group .woocommerce-input-wrapper {
  display: block;
  width: 100%;
}

.checkout-area .woocommerce-additional-fields .woocommerce-input-wrapper {
  display: block;
  width: 100%;
}

.checkout-area .woocommerce-additional-fields .form-row:last-child {
  margin-bottom: 0;
}

.order-details ul {
  list-style-type: none;
}

.order-details ul li {
  list-style-type: none;
}

.order-details .form-row:last-child {
  margin-bottom: 0;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
  padding: 1em 2em 1em 3.5em !important;
}

.woocommerce-message .button {
  color: #ffff !important;
}

.payment_methods li {
  list-style-type: none;
}

.woocommerce .checkout_coupon {
  border: 1px solid #eee;
}

.woocommerce .checkout_coupon .input-text {
  border: 1px solid #eee;
  height: 45px;
  padding: 8px 15px;
}

.woocommerce .checkout_coupon .button {
  color: #fff;
  font-size: 14px;
  height: 45px;
  padding: 10px 20px;
}

.woocommerce .checkout_coupon .button:hover {
  background-color: #000;
  color: #fff;
}

.woocommerce .nice-select {
  width: 100% !important;
}

/*================================================
Shop Sidebar
=================================================*/
.shop-sidebar {
  padding-left: 15px;
}

.shop-sidebar .widget_shopping_cart_content ul {
  padding-left: 0 !important;
}

.shop-sidebar .widget_shopping_cart_content ul li::before {
  display: none !important;
}

.shop-sidebar .woocommerce-mini-cart__buttons.buttons {
  text-align: center;
}

.shop-sidebar .shop-widget {
  margin-bottom: 40px;
}

.shop-sidebar .shop-widget:last-child {
  margin-bottom: 0;
}

.shop-sidebar h3 {
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 12px;
  border-bottom: 1px solid #d6d6d6;
  font-size: 22px;
}

.shop-sidebar h3::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 1px;
  bottom: -1px;
}

.shop-sidebar ul {
  padding-left: 0 !important;
  margin: 0;
  list-style-type: none;
}

.shop-sidebar ul li {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
}

.shop-sidebar ul li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.shop-sidebar ul li a {
  color: #0a0c19 !important;
}

.shop-sidebar ul li a.remove.remove_from_cart_button {
  top: 24px !important;
}

.shop-sidebar ul ul.children {
  padding-left: 15px !important;
  margin-top: 8px;
}

.shop-sidebar .widget {
  margin-top: 30px;
}

.shop-sidebar .widget:first-child {
  margin-top: 0;
}

.shop-sidebar .widget .tagcloud a {
  border: 1px solid #eee;
  padding: 6px 18px;
  font-size: 14px !important;
  color: #555;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
  text-transform: capitalize;
  border-radius: 30px;
}

.shop-sidebar .widget .tagcloud a:hover {
  color: #fff;
}

.shop-sidebar .widget_product_search form {
  position: relative;
}

.shop-sidebar .widget_product_search form .search-field {
  width: 100%;
  display: block;
  height: 50px;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #eeeeee;
  border-radius: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.shop-sidebar .widget_product_search form .search-field:hover, .shop-sidebar .widget_product_search form .search-field:focus {
  outline: 0;
}

.shop-sidebar .widget_product_search form button {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  border: none;
  color: #fff;
  font-size: 15px;
  height: 50px;
  padding: 05px 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.shop-sidebar .widget_product_search form button:hover {
  background-color: #000;
  color: #fff;
}

.shop-sidebar .woocommerce button.button {
  color: #fff;
  font-size: 13px !important;
  font-weight: normal;
  border-radius: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.shop-sidebar .woocommerce button.button:hover {
  background-color: #000;
  color: #fff;
}

.shop-sidebar .widget_products ul li::before {
  top: 10px !important;
}

.shop-sidebar .widget_shopping_cart .cart_list li {
  padding-left: 25px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.shop-sidebar .widget_shopping_cart .cart_list li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.shop-sidebar .widget_shopping_cart .cart_list li a {
  font-size: 14px;
}

.shop-sidebar .widget_shopping_cart .cart_list li .remove {
  font-size: 20px !important;
  top: 5px;
}

.shop-sidebar .widget_shopping_cart .cart_list li a img {
  margin-top: 5px;
}

.shop-sidebar .widget_shopping_cart .cart_list li span.quantity {
  font-size: 13px;
}

.shop-sidebar .widget_shopping_cart p.woocommerce-mini-cart__total.total {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
  color: #333;
}

.shop-sidebar .widget_top_rated_products .product_list_widget li, .shop-sidebar .widget_products .product_list_widget li, .shop-sidebar .widget_recently_viewed_products .product_list_widget li, .shop-sidebar .widget_recent_reviews .product_list_widget li {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.shop-sidebar .widget_top_rated_products .product_list_widget li::last-child, .shop-sidebar .widget_products .product_list_widget li::last-child, .shop-sidebar .widget_recently_viewed_products .product_list_widget li::last-child, .shop-sidebar .widget_recent_reviews .product_list_widget li::last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.shop-sidebar .widget_top_rated_products .product_list_widget li::last-child, .shop-sidebar .widget_products .product_list_widget li::last-child, .shop-sidebar .widget_recently_viewed_products .product_list_widget li::last-child, .shop-sidebar .widget_recent_reviews .product_list_widget li::last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.shop-sidebar .widget_top_rated_products .product_list_widget li a, .shop-sidebar .widget_products .product_list_widget li a, .shop-sidebar .widget_recently_viewed_products .product_list_widget li a, .shop-sidebar .widget_recent_reviews .product_list_widget li a {
  font-size: 14px;
  color: #0a0c19;
}

.shop-sidebar .widget_top_rated_products .product_list_widget li .amount, .shop-sidebar .widget_products .product_list_widget li .amount, .shop-sidebar .widget_recently_viewed_products .product_list_widget li .amount, .shop-sidebar .widget_recent_reviews .product_list_widget li .amount {
  font-size: 13px;
  margin-top: 5px;
  display: inline-block;
}

.shop-sidebar .widget_top_rated_products .product_list_widget li .price, .shop-sidebar .widget_products .product_list_widget li .price, .shop-sidebar .widget_recently_viewed_products .product_list_widget li .price, .shop-sidebar .widget_recent_reviews .product_list_widget li .price {
  color: #777777;
}

.shop-sidebar .widget_top_rated_products .product_list_widget li del, .shop-sidebar .widget_products .product_list_widget li del, .shop-sidebar .widget_recently_viewed_products .product_list_widget li del, .shop-sidebar .widget_recent_reviews .product_list_widget li del {
  opacity: .60;
  color: #777777;
}

.shop-sidebar .widget_top_rated_products .product_list_widget li ins, .shop-sidebar .widget_products .product_list_widget li ins, .shop-sidebar .widget_recently_viewed_products .product_list_widget li ins, .shop-sidebar .widget_recent_reviews .product_list_widget li ins {
  text-decoration: none;
  color: #777777;
}

.shop-sidebar .widget_top_rated_products .product_list_widget li .star-rating, .shop-sidebar .widget_products .product_list_widget li .star-rating, .shop-sidebar .widget_recently_viewed_products .product_list_widget li .star-rating, .shop-sidebar .widget_recent_reviews .product_list_widget li .star-rating {
  margin: 5px 0;
}

.shop-sidebar .widget_top_rated_products .product_list_widget li span.reviewer, .shop-sidebar .widget_products .product_list_widget li span.reviewer, .shop-sidebar .widget_recently_viewed_products .product_list_widget li span.reviewer, .shop-sidebar .widget_recent_reviews .product_list_widget li span.reviewer {
  font-size: 12px !important;
  text-transform: capitalize;
}

.shop-sidebar .star-rating {
  font-size: 12px;
  color: #ffba0a;
}

.shop-sidebar a.button {
  color: #fff;
  font-size: 12px;
  margin: 10px 10px 0 0 !important;
  text-transform: capitalize;
}

.shop-sidebar a.button:hover {
  background-color: #000;
  color: #fff;
}

.shop-sidebar .wcppec-cart-widget-button {
  margin-top: 10px;
}

.shop-sidebar .select2-container .select2-selection--single {
  border: 1px solid #eee;
  height: 45px;
  border-radius: 0;
}

.shop-sidebar .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 8px;
}

.shop-sidebar .select2-container .select2-selection--single .select2-selection__placeholder {
  color: #62618d;
}

.shop-sidebar .select2-container .select2-selection--single .select2-selection__arrow {
  top: 10px;
  right: 5px;
}

.shop-sidebar .select2-container--default .select2-selection--multiple {
  border: 1px solid #eee;
  border-radius: 0;
  padding: 1px 15px;
}

.shop-sidebar span.reviewer {
  font-size: 14px;
}

.shop-sidebar .woocommerce-widget-layered-nav-dropdown__submit {
  border: 1px solid #eee;
  color: #fff;
  font-size: 13px;
  padding: 7px 15px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.shop-sidebar .woocommerce-widget-layered-nav-dropdown__submit:hover {
  background-color: #000;
  color: #fff;
}

.shop-sidebar .widget_price_filter .price_label {
  font-size: 15px;
}

.shop-sidebar .widget_layered_nav .selection ul li {
  border: none;
  padding-top: 5px;
}

.shop-sidebar .widget_layered_nav .selection ul li a {
  color: #ffba0a;
}

.shop-sidebar .select2-container--default .select2-selection--multiple {
  line-height: 2;
}

.shop-sidebar .tagcloud a {
  display: inline-block;
  background: #f3f3f3;
  color: var(--blackColor);
  padding: 7px 15px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  font-size: 14px !important;
  margin-top: 8px;
  margin-right: 4px;
}

.shop-sidebar .tagcloud a:hover, .shop-sidebar .tagcloud a:focus {
  color: var(--whiteColor);
}

.select2-dropdown {
  border: 1px solid #eee !important;
}

.select2-results__option {
  padding: 5px 15px !important;
  font-size: 13px !important;
}

.return-to-shop .button.wc-backward {
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
  padding: 12px 20px;
  text-decoration: none;
}

.return-to-shop .button.wc-backward:hover {
  background-color: #000;
  color: #fff;
}

.product-add-to-cart .input-counter {
  max-width: 130px;
  min-width: 130px;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.product-add-to-cart .input-counter span {
  position: absolute;
  top: 0;
  background-color: transparent;
  cursor: pointer;
  color: #d0d0d0;
  width: 40px;
  height: 100%;
  line-height: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.product-add-to-cart .input-counter span.minus-btn {
  left: 0;
}

.product-add-to-cart .input-counter span.plus-btn {
  right: 0;
}

.product-add-to-cart .input-counter span:hover {
  color: #030f2b;
}

.product-add-to-cart .input-counter input {
  height: 45px;
  color: #030f2b;
  outline: 0;
  display: block;
  border: none;
  background-color: #f8f8f8;
  text-align: center;
  width: 100%;
  font-size: 17px;
  font-weight: 600;
}

.product-add-to-cart .input-counter input::-webkit-input-placeholder {
  color: #030f2b;
}

.product-add-to-cart .input-counter input:-ms-input-placeholder {
  color: #030f2b;
}

.product-add-to-cart .input-counter input::-ms-input-placeholder {
  color: #030f2b;
}

.product-add-to-cart .input-counter input::placeholder {
  color: #030f2b;
}

.product-add-to-cart .btn {
  height: 45px;
  top: -2px;
  position: relative;
}

.product-add-to-cart .btn i {
  margin-right: 2px;
}

.quantity {
  /* Firefox */
}

.quantity .input-text {
  border: 1px solid #eee;
  height: 40px;
  font-size: 15px;
  padding: 5px 10px;
  width: 100px;
}

.quantity .plus, .quantity .minus {
  font-size: 23px;
  height: 50px;
  width: 30px;
  font-weight: 500;
}

.quantity .plus {
  font-size: 20px;
  position: relative;
  top: -1px;
}

.quantity input {
  background-color: #f8f8f8;
  border: none;
  outline: 0 !important;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity input[type=number] {
  -moz-appearance: textfield;
}

.quantity input.input-text.qty.text {
  height: 50px;
  position: relative;
  top: -2px;
  border: none;
  width: 50px;
  margin: 0 -5px;
  outline: 0 !important;
}

.cart .default-btn {
  padding: 15px 30px 11px 55px;
}

.products-details-area.ptb-100 {
  padding-bottom: 70px;
}

@media only screen and (max-width: 575px) {
  /* Shop pages CSS */
  .products_details div.product .woocommerce-tabs ul.tabs li a {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px !important;
  }
  .woocommerce .checkout_coupon .form-row {
    width: 100%;
  }
  /* End Shop pages CSS */
}

/* MyAccount */
.woocommerce .woocommerce-MyAccount-navigation {
  background: #fafafa;
  border: 1px solid #eee;
  padding: 30px;
}

.woocommerce .woocommerce-MyAccount-navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.woocommerce .woocommerce-MyAccount-navigation ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

.woocommerce .woocommerce-MyAccount-navigation ul li:last-child {
  margin-bottom: 0;
}

.woocommerce .woocommerce-MyAccount-navigation ul li a {
  background-color: #fff;
  display: block;
  padding: 7px 20px;
  color: #333;
  text-decoration: none;
}

.woocommerce .woocommerce-MyAccount-navigation ul li a:hover {
  color: #fff;
}

.woocommerce .woocommerce-MyAccount-navigation ul .is-active a {
  color: #fff;
}

.woocommerce .woocommerce-MyAccount-content {
  border: 1px solid #eee;
  padding: 30px;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-error {
  margin-top: 0;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-address-fields {
  margin-top: 20px;
}

.woocommerce .woocommerce-MyAccount-content form label {
  font-size: 14px;
  line-height: 1;
  margin-bottom: 10px;
  font-weight: 600;
  color: #4a6f8a;
}

.woocommerce .woocommerce-MyAccount-content form p:last-child {
  margin-bottom: 0;
}

.woocommerce .woocommerce-MyAccount-content .col-1 {
  max-width: 48%;
  padding: 0;
}

.woocommerce .woocommerce-MyAccount-content .col-2 {
  max-width: 48%;
  padding: 0;
}

.woocommerce .woocommerce-MyAccount-content h3 {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 10px;
}

.woocommerce .woocommerce-MyAccount-content .title {
  margin-top: 0;
  font-size: 25px;
  margin-bottom: 0;
}

.woocommerce .woocommerce-MyAccount-content .addresses .edit {
  font-size: 14px;
}

.woocommerce .woocommerce-MyAccount-content .edit-account .input-text {
  border: 1px solid #eee;
  height: 45px;
  padding: 5px 15px;
  font-size: 14px;
  color: #666666;
}

.woocommerce .woocommerce-MyAccount-content .edit-account .woocommerce-form-row span {
  font-size: 14px;
  display: inline-block;
  margin-top: 10px;
}

.woocommerce .woocommerce-MyAccount-content .edit-account fieldset {
  margin-top: 20px;
  color: #000;
}

.woocommerce .woocommerce-MyAccount-content .edit-account fieldset legend {
  font-size: 20px;
  color: #000;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-address-fields .form-row {
  margin-bottom: 20px;
  padding: 0;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-address-fields .form-row label {
  width: 100%;
  line-height: 1;
  font-size: 14px;
  margin-bottom: 10px;
  color: #000;
  font-weight: bold;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-address-fields .input-text {
  display: block;
  width: 100%;
  border: 1px solid #eee;
  height: 45px;
  padding: 5px 15px;
  font-size: 14px;
  color: #62618d;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-address-fields .woocommerce-input-wrapper {
  width: 100%;
}

.woocommerce .woocommerce-MyAccount-content .woocommerce-address-fields .select2-selection--single {
  height: 45px;
  border: 1px solid #eee;
  border-radius: 0;
  padding: 8px 15px;
  font-size: 13px;
}

.woocommerce .woocommerce-MyAccount-content .button {
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  padding: 13px 20px;
  text-decoration: none;
}

.woocommerce .woocommerce-MyAccount-content .button:hover {
  background-color: #000;
  color: #fff;
}

.woocommerce .woocommerce-MyAccount-content address {
  font-style: normal;
  font-size: 15px;
  border: 1px solid #eee;
  padding: 10px 20px;
  margin-top: 0;
}

.woocommerce .woocommerce-MyAccount-content fieldset .woocommerce-form-row {
  margin-bottom: 15px;
  display: -ms-grid;
  display: grid;
}

.woocommerce .woocommerce-MyAccount-content fieldset legend {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.woocommerce .woocommerce-MyAccount-content p {
  margin-top: 0;
}

.woocommerce .woocommerce-MyAccount-content .btn-primary {
  margin-top: 15px;
}

/* login form */
.woocommerce form.login, .woocommerce form.register, .woocommerce .woocommerce-ResetPassword {
  border: 1px solid #eee;
  padding: 25px;
  margin: 0 0 0px;
}

.woocommerce form.login .form-row label, .woocommerce form.register .form-row label, .woocommerce .woocommerce-ResetPassword .form-row label {
  font-weight: bold;
  color: #000;
  width: 100%;
  font-size: 15px;
}

.woocommerce form.login button.button, .woocommerce form.register button.button, .woocommerce .woocommerce-ResetPassword button.button {
  color: #fff;
  padding: 12px 25px;
  margin-top: 10px;
}

.woocommerce form.login button.button:hover, .woocommerce form.register button.button:hover, .woocommerce .woocommerce-ResetPassword button.button:hover {
  background-color: #000;
  color: #fff;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.woocommerce form.login button.button::before, .woocommerce form.login button.button::after, .woocommerce form.register button.button::before, .woocommerce form.register button.button::after, .woocommerce .woocommerce-ResetPassword button.button::before, .woocommerce .woocommerce-ResetPassword button.button::after {
  display: none;
}

/* End  WooCommerce Style */
.wc-stripe-elements-field, .wc-stripe-iban-element-field {
  width: 100%;
}

#add_payment_method #payment ul.payment_methods .stripe-card-group, .woocommerce-checkout #payment ul.payment_methods .stripe-card-group {
  position: relative;
  width: 100%;
}

.woocommerce form .form-row label {
  line-height: 13px;
}

/* Product Quick View Modal */
.productsQuickView {
  padding: 0 !important;
  z-index: 1000000;
}

.productsQuickView .modal-dialog {
  max-width: 900px;
}

.productsQuickView .modal-dialog .modal-content {
  border: none;
  border-radius: 0;
}

.productsQuickView .modal-dialog .modal-content .row {
  -ms-flex-align: center !important;
  -webkit-box-align: center !important;
          align-items: center !important;
}

.productsQuickView .modal-dialog .modal-content button.close {
  position: absolute;
  right: 10px;
  display: inline-block;
  opacity: 1;
  top: 10px;
  width: 35px;
  z-index: 333;
  height: 35px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  outline: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.productsQuickView .modal-dialog .modal-content button.close:hover, .productsQuickView .modal-dialog .modal-content button.close:hover {
  color: #ffffff;
}

.productsQuickView .modal-dialog .modal-content button.close span {
  display: block;
  font-weight: 400;
}

.productsQuickView .modal-dialog .modal-content .products-image img {
  width: 100%;
}

.productsQuickView .modal-dialog .modal-content .products-content {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.productsQuickView .modal-dialog .modal-content .products-content h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.productsQuickView .modal-dialog .modal-content .products-content p {
  margin-bottom: 15px;
  font-size: 15px;
}

.productsQuickView .modal-dialog .modal-content .products-content .price {
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.productsQuickView .modal-dialog .modal-content .products-content .price del {
  margin-right: 5px;
  opacity: .60;
  color: #ff2d2d;
}

.productsQuickView .modal-dialog .modal-content .products-content .star-rating {
  color: #ffba0a;
  font-size: 14px;
  display: block;
  margin-bottom: 15px;
  float: none;
}

.productsQuickView .modal-dialog .modal-content .products-content form .quantity {
  margin-right: 10px;
  display: inline-block;
}

.productsQuickView .modal-dialog .modal-content .products-content form .quantity input {
  height: 42px;
  position: relative;
  top: -1px;
  border: none !important;
  width: 40px;
  background-color: #efefef;
  margin: 0 -5px;
  outline: 0 !important;
}

.productsQuickView .modal-dialog .modal-content .products-content form .quantity .minus, .productsQuickView .modal-dialog .modal-content .products-content form .quantity .plus {
  font-size: 16px;
}

.productsQuickView .modal-dialog .modal-content .products-content .product-meta {
  margin-top: 15px;
}

.productsQuickView .modal-dialog .modal-content .products-content .product-meta .sku_wrapper {
  display: block;
  margin-bottom: 5px;
}

.productsQuickView .modal-dialog .modal-content .products-content .product-meta .posted_in {
  display: block;
  margin-bottom: 5px;
}

.productsQuickView .modal-dialog .modal-content .products-content .product-meta .tagged_as {
  display: block;
  margin-bottom: 5px;
}

.productsQuickView .modal-dialog .modal-content .products-content .product-meta span {
  display: inline-block;
  color: #0a0c19;
  margin-right: 8px;
  font-size: 15px;
  font-weight: 600;
}

.productsQuickView .modal-dialog .modal-content .products-content .product-meta span a {
  display: inline-block;
  color: #666666;
  font-weight: normal;
  font-size: 13px;
  text-transform: capitalize;
}

.productsQuickView .grouped_form {
  font-size: 14px;
}

.productsQuickView .grouped_form .add-to-cart-btn {
  color: #fff;
  font-size: 12px;
  padding: 10px 10px;
}

.productsQuickView .grouped_form .add-to-cart-btn:hover {
  background-color: #000;
  color: #fff;
}

.productsQuickView .variations_form td {
  text-transform: capitalize;
}

.productsQuickView .variations_form td a.reset_variations {
  margin-left: 10px;
}

.productsQuickView .variations_form .label label {
  margin: 0;
}

.productsQuickView .variations_form .value select {
  border: 1px solid #eee;
  font-size: 13px;
  height: 35px;
  padding: 5px 10px;
}

.productsQuickView .variations_form .reset_variations {
  font-size: 13px;
  margin-top: 10px;
}

.productsQuickView .variations_form .woocommerce-variation-price {
  margin-bottom: 10px;
}

.productsQuickView table.variations {
  margin-bottom: 15px;
}

.productsQuickView table.variations .nice-select span.current {
  font-size: 14px;
}

/* End Product Quick View Modal */
li.product {
  list-style-type: none;
}

.related.products-area {
  background-color: white !important;
}

.related.products.products-area.ptb-70 {
  padding-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .cart-table .quantity .minus {
    display: none;
  }
  .cart-table .quantity .plus {
    display: none;
  }
  .pt-165 {
    padding-top: 60px !important;
  }
  p {
    font-size: 14px !important;
  }
  .btn {
    font-size: 13px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .page-main-content h3 {
    font-size: 20px;
  }
  .woocommerce-topbar {
    text-align: center;
  }
  .woocommerce-topbar .woocommerce-result-count {
    margin-bottom: 15px;
  }
  .cart-buttons {
    margin-top: 35px;
  }
  .cart-buttons .coupon-box {
    position: relative;
  }
  .cart-buttons .coupon-box button {
    position: relative;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 13px 0;
    margin-top: 8px;
  }
  .cart-buttons .btn {
    margin-top: 25px;
  }
  .cart-totals {
    margin-top: 35px;
    padding: 25px;
  }
  .cart-totals h3 {
    font-size: 20px !important;
  }
  .user-actions {
    padding: 15px 18px 13px;
    margin-bottom: 30px;
  }
  .user-actions i {
    display: block;
    margin-bottom: 5px;
    margin-right: 0;
  }
  .checkout-area .title {
    font-size: 20px;
  }
  .billing-details {
    padding: 18px;
  }
  .order-details {
    padding: 18px;
    margin-top: 30px;
  }
  .woocommerce ul.products {
    width: 100% !important;
    margin-bottom: 0 !important;
  }
  .woocommerce ul.products li.product .products-content h3 {
    font-size: 15px;
  }
  .woocommerce ul.products li.product .add-to-cart-btn {
    font-size: 11px;
    padding: 8px 20px;
  }
  .products_details div.product .product_title {
    font-size: 17px;
  }
  .single-products .products-content {
    padding: 13px 9px;
  }
  .single-products .sale-btn {
    top: 6px;
    right: 6px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 10px;
  }
  .single-products .products-image ul {
    top: 85%;
    opacity: 1;
    visibility: visible;
  }
  .single-products .products-image ul li a {
    width: 30px;
    height: 30px;
    line-height: 32px;
    font-size: 14px;
    border-radius: 30px;
  }
  .single-products .products-image ul li a:first-child {
    margin-left: 0;
  }
  .shop-sidebar .widget_product_search form button {
    font-size: 13px;
  }
  .shop-sidebar .widget h3 {
    font-size: 17px;
  }
  .woocommerce-topbar {
    text-align: center;
  }
  .woocommerce-topbar .woocommerce-topbar-ordering {
    margin: 10px 0 0;
    position: relative;
    top: 0;
    right: 0;
    left: 0 !important;
  }
  .woocommerce-topbar .woocommerce-topbar-ordering .form-control {
    width: 100% !important;
  }
  .woocommerce-account .col-6 {
    -ms-flex: 0 0 10%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .productsQuickView .modal-dialog .modal-content .products-content {
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
  }
  .productsQuickView .modal-dialog .modal-content .products-content .products-content form .quantity {
    margin-right: 4px;
  }
  .productsQuickView .modal-dialog .modal-content .products-content .cart .default-btn {
    padding: 12px 30px 10px 55px !important;
  }
  .productsQuickView .modal-dialog .modal-content .products-content form .quantity {
    margin-right: 4px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop-details-area {
    padding-bottom: 50px;
  }
  .cart-totals h3 {
    font-size: 21px;
  }
  .checkout-area .title {
    font-size: 21px;
  }
  .shop-details .product-entry-summary h3 {
    font-size: 21px;
  }
  .shop-details .shop-details-tabs .content h3 {
    font-size: 21px;
  }
  .shop-related-prodcut {
    margin-top: 60px;
  }
}

.woocommerce-ordering .nice-select {
  width: 215px !important;
}